In [9]:
# TO DO
#How to safely pass in PW (where to store it?)
#Check if can find source in API
#Update DB function: access db, get last entry, then use since_id
#Create functions
#Create docker image
#Host image in cloud
#Flask webapp

# Check why max_id doesnt work

# Write .py functions
# Dockers

# Retrieve all keys in dictionary that do not contain

# need to make pipeline to transform all entries in DF

In [10]:
from copy import deepcopy
import requests
import numpy as np
import pandas as pd
import datetime
import time
import random
from datetime import date
import mysql.connector
from sqlalchemy import create_engine
import pymysql
import matplotlib.pyplot as plt
from collections import Sequence
from itertools import chain, count, tee

headers={'Authorization': 'Bearer 229aa3876e4fc4447460a13da7f57d1be4111202e1d56d4d0231fb932c1e7cd1'}
url = 'https://jdriven.workable.com/spi/v3/'

In [11]:
def locate_element(data,look_up_elem):
    '''
    Function to locate the exact location of a an element in a data structure
    '''
    data_orig = data
    loc_list = []
    
    #### Step 1: Create loop: while look_up_elem not in loc_list
    while look_up_elem not in loc_list:

        data = data_orig
        if loc_list != []:
            for location in loc_list:
                data = data[location]     
        
        #### Step 2: Create loop for each element in data. This element needs to be appended to loc_list if element is found in (sub-levels of) this element
        # Combine step 4 and 5 in one function. Function is to flatten the data and check if look_up_elem is present in data. If element is found, return loc_list
        def check_branche(data):
                    #### Step 2: Check if look_up_element is present on 1st level of data
            if look_up_elem in data:
                loc_list.append(look_up_elem)
                return loc_list

            #### Step 3: If element not present on 1st level, filter out strings and integers from data. Method is different for different data types
            # Note: data_tuple = () (will be problematic, as you cannot append elements to a tuple). We may be able to add items from tuple to list as tuple is also a Sequence

            # Define data_elements
            if type(data)==dict: 
                data_elements = list(data.keys())
            elif type(data)==list: 
                data_elements = list(range(len(data)))
            # elif type(data)==tuple: 
                #data_elements = list(range(len(data)))

            else:
                return "Element not present"
                      
            for element in data_elements:

                data_to_check = data[element]

                # Define data_dict, data_list and data_tuple
                if type(data_to_check)==dict:
                    data_dict = data_to_check
                    data_list = []
                    data_tuple = ()
                elif type(data_to_check)==list:
                    data_dict = {}
                    data_list = data_to_check
                    data_tuple = ()
                elif type(data_to_check)==tuple:
                    data_dict = {}
                    data_list = []
                    data_tuple = data_to_check
                elif type(data_to_check)!=dict and type(data_to_check)!=list and type(data_to_check)!=tuple:
                    continue
                else:
                    return "Error"

                #### Step 5: Enter while loop (is within the for loop of step 4). From the filtered data obtained in step 3, divide the different elements into its data type. Then, flatten type(data) data type first and then the other two data types
                # When look_up_elem is found, append element to loc_list and return loc_list
                while data_dict != {} or data_list != [] or data_tuple !=():
                    # Flatten dictionary and check if element is present on any of the levels and add list elements to data_list
                    # After first round, if any elements were added to data_dict, go through these added elements
                    while data_dict != {}:
                        if look_up_elem in data_dict:
                            loc_list.append(element)
                            return 
                            
                        data_dict_temp = {}
                        # Filter the elements in data_dict
                        for key,value in iter(data_dict.items()):
                            if type(value)==dict:
                                data_dict_temp.update(value)
                            elif type(value)==list:
                                data_list.append(value)
                            #elif type(value)==tuple:
                            #    test_tuple
                            # to check if tuple is also a sequence, can also use chain(element) for this
                            else:
                                "Element is string or integer"
                        data_dict = data_dict_temp

                    # After data_dict is (temporarily) exhausted, go through data_list
                    while data_list != []:
                        if look_up_elem in data_list:
                            loc_list.append(element)
                            return loc_list

                        data_list_temp = []
                        # Filter the elements in data_dict
                        for item in data_list:
                            if type(item)==dict:
                                data_dict.update(item)
                            elif type(item)==list:
                                for i in item:
                                    data_list_temp.append(i)
                            else:
                                "Element is string or integer"
                        data_list = data_list_temp

                    # After data_list is (temporarily) exhausted, go through data_tuple
                    #while data_tuple !=():
                        # Flatten tuple, check if element is present on any of the levels and add dictionary and list elements to data_dict or data_list
                        #pass

            if look_up_elem not in loc_list:
                return "Element not Found"
        check_branche(data)
    
    return loc_list

In [12]:
def last_entry(url,headers):
    '''
    Function to retrieve the last entry in Workable through API
    
    Inputs:
    url: url of the Workable API
    headers: headers to connect to the API
    
    Outputs:
    'id' of the last entry
    '''
    section = 'candidates?'
    limit='100'
    d = datetime.datetime.today().isoformat()
    r_last_cand = requests.get(url+section+'limit='+limit+'created_after='+d+'.json', headers=headers)
    
    while len(r_last_cand.json()['candidates'])==0:
        d = (datetime.datetime.today() - datetime.timedelta(days=1)).isoformat()
        r_last_cand = requests.get(url+section+'limit='+limit+'created_after='+d+'.json', headers=headers)
        time.sleep(0.9)
    last_id = r_last_cand.json()['candidates'][-1]['id']
    return last_id

In [13]:
last_id = last_entry(url,headers)

In [14]:
def retrieve_first_page(url,headers):
    '''
    Function to retrieve the first page in Workable
    Input:
    url:
    headers:
    
    Output:
    df_dict: dictionary containing candidate data of the first page in Workable
    '''
    # List with DataFrame columns
    key_list = [
        'id',
        'name',
        'firstname',
        'lastname',
        'headline',
        'subdomain', 
        'shortcode',
        'title',
        'stage',
        'disqualified',
        'disqualification_reason',
        'hired_at',
        'sourced',
        'profile_url',
        'address',
        'phone',
        'email',
        'domain',
        'created_at',
        'updated_at',
    ]

    # Create empty DataFrame
    df_dict = {}
    for key in key_list:
        df_dict[key]=[]

    cand_id_list = []

    # Get first page and retrieve candidate_id
    section = 'candidates?'
    limit='100'
    workable_start_date = '2010-01-01T10:10:10Z'
    r_cand = requests.get(url+section+'limit='+limit+'&created_after='+workable_start_date+'.json', headers=headers)
    for cand in r_cand.json()['candidates']:
        cand_id_list.append(cand['id'])
        for k in key_list:
            loc = locate_element(cand,k)
            v = cand
            for i in loc:
                v = v[i]
            df_dict[k].append(v)
    since_id=r_cand.json()['paging']['next'].split("since_id=",1)[1]
    return df_dict, since_id, cand_id_list

In [18]:
df_dict, since_id, cand_id_list = retrieve_first_page(url,headers)

In [23]:
last_id

'ebb4b0'

In [24]:
cand_id_list

['ddb204',
 'ddb571',
 'ddb572',
 'ddb582',
 'ddb9ca',
 'ddbfa2',
 'ddf173',
 'ddf20e',
 'ddf485',
 'ddf4cd',
 'ddf4d2',
 'ddf7b4',
 'ddfcbd',
 'ddfe84',
 'de4088',
 'de4522',
 'de463d',
 'de47a3',
 'de489d',
 'de53cd',
 'de5bfa',
 'de5d64',
 'df6c94',
 'df77d7',
 'df78b9',
 'df87cf',
 'df8812',
 'dfaacc',
 'dfaf18',
 'e00269',
 'e01304',
 'e01384',
 'e03bca',
 'e096e5',
 'e11c35',
 'e12f8f',
 'e1cca6',
 'e23fde',
 'e27389',
 'e2d0e6',
 'e2d1ee',
 'e2d3f3',
 'e2d4ac',
 'e2d5c4',
 'e2d75b',
 'e2e573',
 'e3016e',
 'e36bc6',
 'e37c6f',
 'e3c572',
 'e48b5d',
 'e48ca1',
 'e48dcf',
 'e48e52',
 'e4f7dd',
 'e50701',
 'e51018',
 'e58576',
 'e5a36a',
 'e62144',
 'e625d1',
 'e626f8',
 'e638d2',
 'e66728',
 'e67a26',
 'e67b0f',
 'e67bb3',
 'e67d9a',
 'e6af5b',
 'e6bf82',
 'e6c2b9',
 'e6c31d',
 'e6c355',
 'e7d4fb',
 'e7e78e',
 'e7fb23',
 'e8132b',
 'e81351',
 'e86ad3',
 'e86bc0',
 'e875d1',
 'e88844',
 'e991c1',
 'e991e5',
 'e99a03',
 'e9a3af',
 'e9a3b0',
 'ea0e8f',
 'ea1045',
 'ea178d',
 'ea22b7',
 'eacf37',
 'eacfad',
 'eacfe0',
 'ead014',
 'ead061',
 'eb1555',
 'eb2cf8',
 'eb4afd',
 'ebb4b0']

In [41]:
def retrieve_pages(url,headers,df_dict,since_id,cand_id_list,last_id):
    '''
    Function to get retrieve general candidate data
    Inputs:
    
    Outputs:
    
    
    '''
    section = 'candidates?'
    limit = '100'
    try:
        while last_id not in cand_id_list:
            r_cand = requests.get(url+section+'limit='+limit+'&since_id='+since_id+'.json', headers=headers)
            for cand in r_cand.json()['candidates']:
                cand_id_list.append(cand['id'])
                for k in key_list:
                    loc = locate_element(cand,k)
                    v = cand
                    for i in loc:
                        v = v[i]
                    df_dict[k].append(v)
            since_id=r_cand.json()['paging']['next'].split("since_id=",1)[1]
            time.sleep(0.9)
        return df_dict, cand_id_list
    except:
        return df_dict, cand_id_list

In [42]:
df_dict, cand_id_list = retrieve_pages(url,headers,df_dict,since_id,cand_id_list,last_id)

In [45]:
def create_df(df_dict):
    '''
    Convert dictionary into pandas DataFrame
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''
    df = pd.DataFrame.from_dict(df_dict, orient='columns')
    return df

In [46]:
df = create_df(df_dict)

In [47]:
df

,id,name,firstname,lastname,headline,subdomain,shortcode,title,stage,disqualified,disqualification_reason,hired_at,sourced,profile_url,address,phone,email,domain,created_at,updated_at
0,ddb204,Niels Drost,Niels,Drost,None,jdriven,A8C5321F60,Big Data Scientist (BDR),1st Interview,True,None,None,True,https://jdriven.workable.com/backend/jobs/3292...,None,+31 6 1543 4021,niels.drost@gmail.com,None,2016-09-05T10:05:28Z,2019-02-01T14:56:34Z
1,ddb571,Paula L Amaral Santos,Paula L,Amaral Santos,None,jdriven,A8C5321F60,Big Data Scientist (BDR),Hired,False,None,2016-10-14T10:04:42Z,True,https://jdriven.workable.com/backend/jobs/3292...,None,None,paula.amrl@gmail.com,None,2016-09-05T10:51:00Z,2019-01-08T12:17:22Z
2,ddb572,Gulliver de Boer,Gulliver,de Boer,None,jdriven,A8C5321F60,Big Data Scientist (BDR),2nd Interview,True,None,None,True,https://jdriven.workable.com/backend/jobs/3292...,None,+31612085780,gulif87@hotmail.com,None,2016-09-05T10:51:04Z,2019-01-28T10:34:24Z
3,ddb582,Pieter Kouyzer,Pieter,Kouyzer,None,jdriven,A8C5321F60,Big Data Scientist (BDR),Talentpool,False,None,None,True,https://jdriven.workable.com/backend/jobs/3292...,None,+31(0)85 0020019,joris.braspenning@careerresult.nl,None,2016-09-05T10:52:07Z,2019-02-01T14:52:58Z
4,ddb9ca,Profiel Van Aris Koning,Profiel Van Aris,Koning,None,jdriven,A8C5321F60,Big Data Scientist (BDR),2nd Interview,True,None,None,True,https://jdriven.workable.com/backend/jobs/3292...,None,None,frank.kurstjens@jdriven.com,None,2016-09-05T11:49:31Z,2019-01-10T14:29:23Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ead061,Karsten Meinster,Karsten,Meinster,Mission Critical Engineer @ Schuberg Philis,jdriven,F17EA1F924,Big Data Architect,Applied,False,None,None,True,https://jdriven.workable.com/backend/jobs/3316...,"Den Haag en omgeving, Nederland",None,None,search,2016-10-02T15:42:48Z,2017-03-14T08:44:50Z
96,eb1555,Hassane Barre,Hassane,Barre,None,jdriven,46F9A9BEBD,Jr. Java Developer (JCore),Sourced,True,None,None,True,https://jdriven.workable.com/backend/jobs/3315...,None,+31 (0)858882905,hasbarre@gmail.com,None,2016-10-03T08:58:35Z,2017-12-29T12:36:05Z
97,eb2cf8,Gebrekirstos G Gebremeskel,Gebrekirstos G,Gebremeskel,None,jdriven,F2E5FDE7A5,Big Data Engineer (BDR),Review,True,None,None,True,https://jdriven.workable.com/backend/jobs/3316...,None,+31647270950,gebre@cwi.nl,None,2016-10-03T13:19:34Z,2019-01-08T12:17:18Z
98,eb4afd,Tim van Elteren,Tim,van Elteren,None,jdriven,F2E5FDE7A5,Big Data Engineer (BDR),1st Interview,True,None,None,True,https://jdriven.workable.com/backend/jobs/3316...,None,None,ovidiu.terinte@astburymarsden.com,None,2016-10-03T16:37:39Z,2017-08-28T11:12:38Z
99,ebb4b0,Danielle McCool,Danielle,McCool,None,jdriven,A8C5321F60,Big Data Scientist (BDR),Review,True,None,None,True,https://jdriven.workable.com/backend/jobs/3292...,None,None,None,None,2016-10-04T08:40:40Z,2019-01-08T12:17:17Z

In [48]:
def retrieve_activities(url,headers,cand_id_list):
    '''
    Function to create candidate activity dictionary
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''
    # Create DataFrame column labels
    df_dict_cand = {}
    key_list_cand = ['id','tags']
    stage_name_list = [
        'Sourced',
        'Applied',
        'Shortlisted',
        'Talentpool',
        'Review',
        'To schedule',
        'Inplannen 1e gesorek', #not in use anymore --> combine with 'To Schedule' --> delete
        'Inplannen 1e gesprek', #not in use anymore --> combine with 'To Schedule' --> delete
        'inplannen 2e gesprek', #not in use anymore --> combine with '1st Interview' --> delete
        '1st Interview',
        '1e gesprek', #not in use anymore --> combine with '1st Interview' --> delete
        'Interview 1', #not in use anymore --> combine with '1st Interview' --> delete
        '2nd Interview', 
        'Interview 2', #not in use anymore --> combine with '2nd Interview' --> delete
        'Assessment', #not in use anymore --> combine with '2nd Interview' --> delete
        '2e gesprek', #not in use anymore --> combine with '2nd Interview' --> delete
        'Offer',
        'Aanbieding', #not in use anymore --> combine with 'Offer' --> delete
        'Hired',
        'Aangenomen', #not in use anymore --> combine with 'Hired' --> delete
        'Test Fase', #not in use anymore --> delete
        'intern evalueren', #not in use anymore --> delete
        'Plan 1', #not in use anymore --> delete
        'Plan 2', #not in use anymore --> delete
        'Vergaarbak' #not in use anymore --> delete
    ]

    #Add labels to dictionary
    for key in key_list_cand:
        df_dict_cand[key]=[]    
    for key in stage_name_list:
        df_dict_cand[key]=[]
    df_dict_cand['disqualified_at']=[]

    #Retrieve data through API
    section = 'candidates/'
    cnt = 0
    other_st = {'st':[]} # Can be removed later, if appears all stages are listed in stage_name_list

    for cand_id in cand_id_list[:50]: #[:50]  
        print(cand_id)
        r_cand_id = requests.get(url+section+cand_id+'.json', headers=headers)
        time.sleep(1.0)
        print('calls remaining:')
        print(r_cand_id.headers['x-rate-limit-remaining'])
        for k in key_list_cand:
            loc = locate_element(r_cand_id.json()['candidate'],k)
            v = r_cand_id.json()['candidate']
            for i in loc:
                v = v[i]
            df_dict_cand[k].append(v)

        # loop through activities for candidate cand_id
        r_cand_id_act = requests.get(url+section+cand_id+'/activities'+'.json', headers=headers)
        print('calls remaining:')
        print(r_cand_id_act.headers['x-rate-limit-remaining'])
        r_cand_id_act=r_cand_id_act.json()['activities']
        time.sleep(1.0)
        stages = deepcopy(stage_name_list)
        disqualified=False
        for act in r_cand_id_act:
            if act['action']=='disqualified' and disqualified==False:
                df_dict_cand['disqualified_at'].append(act['created_at'])
                disqualified=True
            if act['stage_name'] in stage_name_list:
                if act['stage_name'] not in stages:
                    continue
                else:
                    df_dict_cand[act['stage_name']].append(act['created_at'])
                    stages.remove(act['stage_name'])
            else:
                if act['stage_name']!=None:
                    print(act['stage_name'])
                other_st['st'].append(act['stage_name'])
        if disqualified==False:
            df_dict_cand['disqualified_at'].append(np.nan)
        for remaining_stage in stages:
            df_dict_cand[remaining_stage].append(np.nan)         
        cnt+=1
        print(cnt)
        time.sleep(0.5)
    return df_dict_cand

In [49]:
df_dict_cand=retrieve_activities(url,headers,cand_id_list)

ddb204
calls remaining:
9
calls remaining:
8
1
ddb571
calls remaining:
7
calls remaining:
6
2
ddb572
calls remaining:
5
calls remaining:
4
3
ddb582
calls remaining:
3
calls remaining:
9
4
ddb9ca
calls remaining:
8
calls remaining:
7
5
ddbfa2
calls remaining:
6
calls remaining:
5
6
ddf173
calls remaining:
4
calls remaining:
3
7
ddf20e
calls remaining:
9
calls remaining:
8
8
ddf485
calls remaining:
7
calls remaining:
6
9
ddf4cd
calls remaining:
5
calls remaining:
4
10
ddf4d2
calls remaining:
3
calls remaining:
9
11
ddf7b4
calls remaining:
8
calls remaining:
7
12
ddfcbd
calls remaining:
6
calls remaining:
5
13
ddfe84
calls remaining:
4
calls remaining:
3
14
de4088
calls remaining:
9
calls remaining:
8
15
de4522
calls remaining:
7
calls remaining:
6
16
de463d
calls remaining:
9
calls remaining:
8
17
de47a3
calls remaining:
7
calls remaining:
6
18
de489d
calls remaining:
5
calls remaining:
4
19
de53cd
calls remaining:
3
calls remaining:
9
20
de5bfa
calls remaining:
8
calls remaining:
7
21
de5d64
calls remaining:
6
calls remaining:
5
22
df6c94
calls remaining:
4
calls remaining:
9
23
df77d7
calls remaining:
8
calls remaining:
7
24
df78b9
calls remaining:
6
calls remaining:
5
25
df87cf
calls remaining:
4
calls remaining:
3
26
df8812
calls remaining:
9
calls remaining:
8
27
dfaacc
calls remaining:
7
calls remaining:
6
28
dfaf18
calls remaining:
5
calls remaining:
4
29
e00269
calls remaining:
3
calls remaining:
9
30
e01304
calls remaining:
8
calls remaining:
7
31
e01384
calls remaining:
6
calls remaining:
5
32
e03bca
calls remaining:
4
calls remaining:
3
33
e096e5
calls remaining:
9
calls remaining:
8
34
e11c35
calls remaining:
7
calls remaining:
6
35
e12f8f
calls remaining:
5
calls remaining:
4
36
e1cca6
calls remaining:
3
calls remaining:
9
37
e23fde
calls remaining:
8
calls remaining:
7
38
e27389
calls remaining:
6
calls remaining:
5
39
e2d0e6
calls remaining:
4
calls remaining:
3
40
e2d1ee
calls remaining:
9
calls remaining:
8
41
e2d3f3
calls remaining:
7
calls remaining:
6
42
e2d4ac
calls remaining:
5
calls remaining:
4
43
e2d5c4
calls remaining:
3
calls remaining:
9
44
e2d75b
calls remaining:
8
calls remaining:
7
45
e2e573
calls remaining:
6
calls remaining:
9
46
e3016e
calls remaining:
8
calls remaining:
7
47
e36bc6
calls remaining:
6
calls remaining:
5
48
e37c6f
calls remaining:
9
calls remaining:
8
49
e3c572
calls remaining:
7
calls remaining:
6
50

In [51]:
df_cand=create_df(df_dict_cand)

In [52]:
df_cand

,id,tags,Sourced,Applied,Shortlisted,Talentpool,Review,To schedule,Inplannen 1e gesorek,Inplannen 1e gesprek,...,Offer,Aanbieding,Hired,Aangenomen,Test Fase,intern evalueren,Plan 1,Plan 2,Vergaarbak,disqualified_at
0,ddb204,[anna_fahrbecker],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-05T20:45:29.283Z,NaN,2016-09-06T12:44:17.802Z
1,ddb571,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-10-07T10:50:53.339Z,NaN,2016-10-14T10:04:42.123Z,2016-09-08T07:32:56.825Z,NaN,2016-09-05T20:45:11.544Z,NaN,NaN,NaN
2,ddb572,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016-09-19T10:32:08.961Z,2016-09-05T11:33:37.739Z,2016-09-05T20:44:37.074Z,NaN,NaN,2019-01-28T10:34:24.218Z
3,ddb582,[],NaN,NaN,NaN,2019-02-01T14:52:58.308Z,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05T11:24:31.890Z,NaN,NaN,NaN,2016-09-11T09:16:42.025Z
4,ddb9ca,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-09T13:32:25.113Z
5,ddbfa2,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-09-17T09:45:48.764Z,NaN,2016-09-23T14:20:02.314Z,NaN,NaN,NaN,2016-09-05T21:07:49.403Z,NaN,NaN
6,ddf173,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-09-23T07:54:10.320Z,NaN,2016-09-29T08:28:40.707Z,NaN,NaN,NaN,2016-09-05T18:41:49.977Z,NaN,NaN
7,ddf20e,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016-09-05T18:53:48.877Z,NaN,NaN,NaN,NaN,2019-01-09T12:42:13.540Z
8,ddf485,[],NaN,2017-01-06T11:38:54.033Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-07-03T13:52:11.570Z,NaN,NaN,2016-09-05T19:18:16.105Z,NaN,NaN,NaN,2017-11-28T15:39:24.403Z,NaN
9,ddf4cd,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05T19:21:51.500Z,2016-09-08T17:05:52.900Z,NaN,NaN,2016-09-23T13:13:16.332Z
10,ddf4d2,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-09-17T09:45:15.530Z,NaN,NaN,NaN,NaN,NaN,NaN,2017-03-02T09:12:42.330Z,2016-10-06T15:08:28.854Z
11,ddf7b4,[sanderspilberg],2016-09-05T19:57:55.970Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-05T20:01:54.512Z,NaN,NaN,2016-10-17T06:55:51.430Z
12,ddfcbd,[],2016-09-05T21:01:07.796Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016-09-19T13:51:33.231Z,2016-09-05T21:03:41.744Z,2016-09-05T21:03:50.546Z,2016-09-19T13:51:34.789Z,NaN,2016-09-29T09:35:26.544Z
13,ddfe84,[kerstkaart],2016-09-05T21:24:09.920Z,2016-10-10T08:12:19.559Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-26T10:16:17.139Z,NaN,NaN,2016-11-24T13:16:37.154Z,2017-08-09T15:22:32.772Z
14,de4088,[roy_javaprof],2016-09-06T12:13:17.140Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016-09-08T14:53:27.561Z,2016-09-06T12:22:57.621Z,2016-09-06T19:24:19.379Z,2016-09-13T09:00:34.986Z,NaN,2016-09-15T09:10:02.795Z
15,de4522,[],2016-09-06T12:56:53.784Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-07T09:22:55.932Z
16,de463d,[],2016-09-06T13:04:51.522Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-07T09:20:37.045Z
17,de47a3,[],2016-09-06T13:12:40.298Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-07T09:26:35.308Z
18,de489d,[],2016-09-06T13:20:26.983Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-06T19:13:35.938Z,2016-09-06T19:15:54.474Z,NaN,NaN,2016-09-09T12:43:55.772Z
19,de53cd,[],2016-09-06T14:28:19.191Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-28T08:17:24.382Z,2016-11-10T10:33:33.663Z
20,de5bfa,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-06T15:09:19.039Z,NaN,NaN,NaN,2016-09-06T15:41:34.377Z
21,de5d64,[00000a],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-06T15:16:31.046Z,NaN,NaN,NaN,2016-09-19T10:26:36.272Z
22,df6c94,[],2016-09-27T13:28:43.174Z,NaN,NaN,2019-02-01T14:53:54.864Z,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-06-26T07:24:53.699Z,NaN
23,df77d7,[],2016-09-08T09:45:59.188Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-09T13:33:22.696Z
24,df78b9,[],2016-09-08T09:56:05.465Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-08T11:48:46.770Z,NaN,NaN,NaN,2016-09-08T11:54:24.861Z
25,df87cf,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,df8812,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-08T17:35:16.268Z,2016-09-08T17:35:19.470Z,NaN,NaN,2016-09-09T11:34:44.710Z
27,dfaacc,[],2016-09-08T16:11:44.652Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-09T12:57:00.556Z,2016-09-12T06:40:13.306Z,NaN,NaN,2016-09-12T08:56:37.274Z
28,dfaf18,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-08T16:42:57.170Z,NaN,NaN,NaN,2017-01-09T10:04:48.522Z
29,e00269,[],2016-09-09T07:46:45.680Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-14T10:37:54.025Z
30,e01304,[bart],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-09-23T09:51:38.160Z,NaN,2016-10-04T11:02:37.395Z,NaN,NaN,NaN,NaN,NaN,NaN
31,e01384,[],2016-09-09T12:10:19.805Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-11T12:09:42.831Z,NaN,NaN,NaN,NaN
32,e03bca,[],2016-09-09T18:16:42.921Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-09T18:21:56.820Z,NaN,NaN,2017-02-23T11:12:48.873Z
33,e096e5,[],2016-09-10T18:46:40.418Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-11T12:02:36.705Z,NaN,NaN,NaN,2016-09-12T06:24:57.521Z
34,e11c35,[],2016-09-12T06:32:11.538Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-12T09:28:53.129Z,NaN,NaN,NaN,2016-09-12T15:32:02.098Z
35,e12f8f,[],2016-09-12T11:47:00.057Z,2016-09-29T08:20:34.593Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-26T10:16:17.170Z,NaN,NaN,NaN,2016-10-17T07:39:23.265Z
36,e1cca6,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-13T13:33:04.615Z,2016-09-14T09:24:24.522Z,NaN,NaN,NaN
37,e23fde,[2016via_robert_ombre],2016-09-14T06:09:40.366Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-15T12:55:26.291Z,NaN,NaN,NaN
38,e27389,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-14T15:40:34.902Z,2016-09-15T09:35:42.882Z,NaN,NaN,2016-10-03T12:56:04.204Z
39,e2d0e6,[],NaN,2016-11-21T13:49:00.979Z,2019-01-15T10:34:59.477Z,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-15T08:12:25.434Z,NaN,NaN,NaN
40,e2d1ee,[quintus_uchoose],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2016-09-15T08:42:47.166Z,NaN,NaN,NaN,NaN,2016-09-15T08:42:55.886Z
41,e2d3f3,"[week35_2019, direc, linkedin]",2016-09-15T08:48:42.595Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-15T08:58:22.448Z,NaN,NaN,NaN,2016-09-18T12:35:39.938Z
42,e2d4ac,[],2016-09-15T08:57:58.861Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-15T09:03:41.185Z
43,e2d5c4,[julien_spilberg],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-15T09:21:51.555Z,2016-09-19T13:05:41.749Z,NaN,NaN,2016-10-17T13:43:13.501Z
44,e2d75b,[julien_spilberg],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-15T09:34:26.578Z,NaN,NaN,NaN,2016-09-19T10:07:13.940Z
45,e2e573,[],2016-09-15T12:42:16.436Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-15T12:54:58.464Z,2016-09-16T14:37:24.983Z,NaN,NaN,2016-09-27T08:18:26.199Z
46,e3016e,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-15T16:19:34.765Z,2016-09-16T13:01:46.192Z,NaN,NaN,2016-10-10T07:20:58.939Z
47,e36bc6,[],NaN,NaN,NaN,NaN,NaN,NaN,2016-09-22T05:59:38.041Z,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-16T13:49:02.398Z,NaN,NaN,NaN,NaN
48,e37c6f,[],2016-09-16T16:06:44.580Z,2019-02-25T07:45:19.788Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,e3c572,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-23T07:49:47.371Z

In [53]:
def merge_df(df1,df2,how='left', on=['id']):
    '''
    Function to create candidate activity dictionary
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''    
    df = pd.merge(df1, df2, how=how, on=on)
    return df

In [54]:
df_comb = merge_df(df,df_cand,how='left', on=['id'])

In [56]:
df_comb

,id,name,firstname,lastname,headline,subdomain,shortcode,title,stage,disqualified,...,Offer,Aanbieding,Hired,Aangenomen,Test Fase,intern evalueren,Plan 1,Plan 2,Vergaarbak,disqualified_at
0,ddb204,Niels Drost,Niels,Drost,None,jdriven,A8C5321F60,Big Data Scientist (BDR),1st Interview,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-05T20:45:29.283Z,NaN,2016-09-06T12:44:17.802Z
1,ddb571,Paula L Amaral Santos,Paula L,Amaral Santos,None,jdriven,A8C5321F60,Big Data Scientist (BDR),Hired,False,...,NaN,2016-10-07T10:50:53.339Z,NaN,2016-10-14T10:04:42.123Z,2016-09-08T07:32:56.825Z,NaN,2016-09-05T20:45:11.544Z,NaN,NaN,NaN
2,ddb572,Gulliver de Boer,Gulliver,de Boer,None,jdriven,A8C5321F60,Big Data Scientist (BDR),2nd Interview,True,...,NaN,NaN,NaN,NaN,2016-09-19T10:32:08.961Z,2016-09-05T11:33:37.739Z,2016-09-05T20:44:37.074Z,NaN,NaN,2019-01-28T10:34:24.218Z
3,ddb582,Pieter Kouyzer,Pieter,Kouyzer,None,jdriven,A8C5321F60,Big Data Scientist (BDR),Talentpool,False,...,NaN,NaN,NaN,NaN,NaN,2016-09-05T11:24:31.890Z,NaN,NaN,NaN,2016-09-11T09:16:42.025Z
4,ddb9ca,Profiel Van Aris Koning,Profiel Van Aris,Koning,None,jdriven,A8C5321F60,Big Data Scientist (BDR),2nd Interview,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-09T13:32:25.113Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ead061,Karsten Meinster,Karsten,Meinster,Mission Critical Engineer @ Schuberg Philis,jdriven,F17EA1F924,Big Data Architect,Applied,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,eb1555,Hassane Barre,Hassane,Barre,None,jdriven,46F9A9BEBD,Jr. Java Developer (JCore),Sourced,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,eb2cf8,Gebrekirstos G Gebremeskel,Gebrekirstos G,Gebremeskel,None,jdriven,F2E5FDE7A5,Big Data Engineer (BDR),Review,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,eb4afd,Tim van Elteren,Tim,van Elteren,None,jdriven,F2E5FDE7A5,Big Data Engineer (BDR),1st Interview,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,ebb4b0,Danielle McCool,Danielle,McCool,None,jdriven,A8C5321F60,Big Data Scientist (BDR),Review,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
def transform_df(df):
    '''
    Function to transform DataFrame
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    '''
    #Rename duplicate column name to prevent error when creating SQL database
    df=df.rename(columns = {'sourced':'is_sourced'})
    
    #Replace and Delete columns
    df['To schedule'][(df['Inplannen 1e gesorek'].isnull()==False) & (df['To schedule'].isnull()==True)]=df['Inplannen 1e gesorek'][(df['Inplannen 1e gesorek'].isnull()==False) & (df['To schedule'].isnull()==True)]
    df.drop('Inplannen 1e gesorek',axis=1,inplace = True)
    df['To schedule'][(df['Inplannen 1e gesprek'].isnull()==False) & (df['To schedule'].isnull()==True)]=df['Inplannen 1e gesprek'][(df['Inplannen 1e gesprek'].isnull()==False) & (df['To schedule'].isnull()==True)]
    df.drop('Inplannen 1e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['inplannen 2e gesprek'].isnull()==False) & (df['1st Interview'].isnull()==True)]=df['inplannen 2e gesprek'][(df['inplannen 2e gesprek'].isnull()==False) & (df['1st Interview'].isnull()==True)]
    df.drop('inplannen 2e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['1e gesprek'].isnull()==False) & (df['1st Interview'].isnull()==True)]=df['1e gesprek'][(df['1e gesprek'].isnull()==False) & (df['1st Interview'].isnull()==True)]
    df.drop('1e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['Interview 1'].isnull()==False) & (df['1st Interview'].isnull()==True)]=df['Interview 1'][(df['Interview 1'].isnull()==False) & (df['1st Interview'].isnull()==True)]
    df.drop('Interview 1',axis=1,inplace = True)
    df['2nd Interview'][(df['Interview 2'].isnull()==False) & (df['2nd Interview'].isnull()==True)]=df['Interview 2'][(df['Interview 2'].isnull()==False) & (df['2nd Interview'].isnull()==True)]
    df.drop('Interview 2',axis=1,inplace = True)
    df['2nd Interview'][(df['Assessment'].isnull()==False) & (df['2nd Interview'].isnull()==True)]=df['Assessment'][(df['Assessment'].isnull()==False) & (df['2nd Interview'].isnull()==True)]
    df.drop('Assessment',axis=1,inplace = True)
    df['2nd Interview'][(df['2e gesprek'].isnull()==False) & (df['2nd Interview'].isnull()==True)]=df['2e gesprek'][(df['2e gesprek'].isnull()==False) & (df['2nd Interview'].isnull()==True)]
    df.drop('2e gesprek',axis=1,inplace = True)
    df['Offer'][(df['Aanbieding'].isnull()==False) & (df['Offer'].isnull()==True)]=df['Aanbieding'][(df['Aanbieding'].isnull()==False) & (df['Offer'].isnull()==True)]
    df.drop('Aanbieding',axis=1,inplace = True)

    df['Hired'][(df['Aangenomen'].isnull()==False) & (df['Hired'].isnull()==True)]=df['Aangenomen'][(df['Aangenomen'].isnull()==False) & (df['Hired'].isnull()==True)]
    df.drop('Aangenomen',axis=1,inplace = True)

    # Delete Columns
    df.drop('Test Fase',axis=1,inplace = True)
    df.drop('intern evalueren',axis=1,inplace = True)
    df.drop('Plan 1',axis=1,inplace = True)
    df.drop('Plan 2',axis=1,inplace = True)
    df.drop('Vergaarbak',axis=1,inplace = True)

    #Remove only for now (will be used for source of candidate)
    df.drop('tags',axis=1,inplace = True)

    #Replace np.nan with None, as None is accepted if df is written to a DB using df.to_sql
    #Note that None will only be converted to NULL in SQL if df.to_sql is used, not using executemany
    #NaT is converted as None if using to_sql
    df = df.where((pd.notnull(df)), None)

    #Convert None to 'nan' if getting errors when inserting into MySQL DB
    #df.fillna(value='nan', inplace=True)

    #Convert date columns into DATE columns with specified format
    date_cols = [
            'hired_at',
            'Sourced',
            'Applied',
            'Shortlisted',
            'Talentpool',
            'Review',
            'To schedule',
            '1st Interview',
            '2nd Interview',
            'Offer',
            'Hired',
            'disqualified_at'
    ]
    for date_col in date_cols:
        #df[date_col]=pd.to_datetime(df[date_col])
        df[date_col]=pd.to_datetime(pd.to_datetime(df[date_col]).dt.strftime('%Y-%m-%d'))
    # Make pipeline for this, using typeselector
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col]=df[col].str.encode('ascii', 'ignore').str.decode('ascii')
            df[col][df[col].isnull()==False]=df[col][df[col].isnull()==False].apply(lambda x: x.lower())    
    return df

In [59]:
df_comb = transform_df(df_comb)

C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
df_comb

,id,name,firstname,lastname,headline,subdomain,shortcode,title,stage,disqualified,...,Applied,Shortlisted,Talentpool,Review,To schedule,1st Interview,2nd Interview,Offer,Hired,disqualified_at
0,ddb204,niels drost,niels,drost,None,jdriven,a8c5321f60,big data scientist (bdr),1st interview,True,...,NaT,NaT,NaT,NaT,NaT,2019-01-08,NaT,NaT,NaT,2016-09-06
1,ddb571,paula l amaral santos,paula l,amaral santos,None,jdriven,a8c5321f60,big data scientist (bdr),hired,False,...,NaT,NaT,NaT,NaT,NaT,2016-09-05,2016-09-26,2016-10-07,2016-10-14,NaT
2,ddb572,gulliver de boer,gulliver,de boer,None,jdriven,a8c5321f60,big data scientist (bdr),2nd interview,True,...,NaT,NaT,NaT,NaT,NaT,2016-09-05,2016-09-20,NaT,NaT,2019-01-28
3,ddb582,pieter kouyzer,pieter,kouyzer,None,jdriven,a8c5321f60,big data scientist (bdr),talentpool,False,...,NaT,NaT,2019-02-01,NaT,NaT,2016-09-05,NaT,NaT,NaT,2016-09-11
4,ddb9ca,profiel van aris koning,profiel van aris,koning,None,jdriven,a8c5321f60,big data scientist (bdr),2nd interview,True,...,NaT,NaT,NaT,NaT,NaT,NaT,2016-09-05,NaT,NaT,2016-09-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ead061,karsten meinster,karsten,meinster,mission critical engineer @ schuberg philis,jdriven,f17ea1f924,big data architect,applied,False,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
96,eb1555,hassane barre,hassane,barre,None,jdriven,46f9a9bebd,jr. java developer (jcore),sourced,True,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
97,eb2cf8,gebrekirstos g gebremeskel,gebrekirstos g,gebremeskel,None,jdriven,f2e5fde7a5,big data engineer (bdr),review,True,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
98,eb4afd,tim van elteren,tim,van elteren,None,jdriven,f2e5fde7a5,big data engineer (bdr),1st interview,True,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
99,ebb4b0,danielle mccool,danielle,mccool,None,jdriven,a8c5321f60,big data scientist (bdr),review,True,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [63]:
user = 'root:'
pw = 'maartens1991'
host = 'localhost'
port = '' #:3306
schema = 'recruitment_dashboard'
engine_local = create_engine('mysql+pymysql://'+user+pw+'@'+host+port+'/'+schema, echo = False)
df_comb.to_sql(name = 'candidates4', con = engine_local, if_exists = 'append', index = False)

In [71]:
def write_to_db(df,pw,db_name='candidates5',user='root:',host='localhost',port='',schema='recruitment_dashboard'):
    '''
    Function to write DataFrame to MySQL DB
    Inputs:
    df: DataFrame containing all candidate data
    db_name: Name of the to be created MySQL DB (default is 'candidates2')
    user: user name of db (default is 'root')
    pw: password of database
    host = 'localhost' if connecting to local DB
    host = '<IP address of DB>' if connecting to a DB hosted externally
    port: port (default is no port specified). Format is: ':<port>'
    schema: database schema name
    
    Outputs:
    Populated MySQL Database
    '''
    engine = create_engine('mysql+pymysql://'+user+pw+'@'+host+port+'/'+schema, echo = False)
    df.to_sql(name = db_name, con = engine, if_exists = 'append', index = False)

In [73]:
write_to_db(df_comb,db_name='candidates5',user='root:',pw='maartens1991',host='localhost',port='',schema='recruitment_dashboard')

In [ ]:
#Write to Google Cloud DB
engine_cloud = create_engine('mysql+pymysql://root:MjB6KtDfI4pkzKr9@34.90.224.97/recruitment', echo = False)
df_comb.to_sql(name = 'candidates2', con = engine_cloud, if_exists = 'append', index = False)

In [79]:
def db_to_df(pw,db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard'):
    '''
    Function to convert MySQL DB to DataFrame
    Inputs:
    db_name: Name of the to be created MySQL DB (default is 'candidates2')
    user: user name of db (default is 'root')
    pw: password of database
    host = '127.0.0.1' if connecting to local DB
    host = '<IP address of DB>' if connecting to a DB hosted externally
    port: port (default is no port specified). Format is: ':<port>'
    database: database schema name
    
    Outputs:
    Populated MySQL Database
    '''
    conn = mysql.connector.connect(user=user, password=pw,host=host, database=database)
    df = pd.read_sql("SELECT * from "+db_name, conn)
    return df

In [80]:
df_db = db_to_df(pw='maartens1991',db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard')

In [81]:
df_db

,id,name,firstname,lastname,headline,subdomain,shortcode,title,stage,disqualified,...,Applied,Shortlisted,Talentpool,Review,To schedule,1st Interview,2nd Interview,Offer,Hired,disqualified_at
0,ddb204,niels drost,niels,drost,None,jdriven,a8c5321f60,big data scientist (bdr),1st interview,1,...,NaT,NaT,NaT,None,NaT,2019-01-08,NaT,NaT,NaT,2016-09-06
1,ddb571,paula l amaral santos,paula l,amaral santos,None,jdriven,a8c5321f60,big data scientist (bdr),hired,0,...,NaT,NaT,NaT,None,NaT,2016-09-05,2016-09-26,2016-10-07,2016-10-14,NaT
2,ddb572,gulliver de boer,gulliver,de boer,None,jdriven,a8c5321f60,big data scientist (bdr),2nd interview,1,...,NaT,NaT,NaT,None,NaT,2016-09-05,2016-09-20,NaT,NaT,2019-01-28
3,ddb582,pieter kouyzer,pieter,kouyzer,None,jdriven,a8c5321f60,big data scientist (bdr),talentpool,0,...,NaT,NaT,2019-02-01,None,NaT,2016-09-05,NaT,NaT,NaT,2016-09-11
4,ddb9ca,profiel van aris koning,profiel van aris,koning,None,jdriven,a8c5321f60,big data scientist (bdr),2nd interview,1,...,NaT,NaT,NaT,None,NaT,NaT,2016-09-05,NaT,NaT,2016-09-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ead061,karsten meinster,karsten,meinster,mission critical engineer @ schuberg philis,jdriven,f17ea1f924,big data architect,applied,0,...,NaT,NaT,NaT,None,NaT,NaT,NaT,NaT,NaT,NaT
96,eb1555,hassane barre,hassane,barre,None,jdriven,46f9a9bebd,jr. java developer (jcore),sourced,1,...,NaT,NaT,NaT,None,NaT,NaT,NaT,NaT,NaT,NaT
97,eb2cf8,gebrekirstos g gebremeskel,gebrekirstos g,gebremeskel,None,jdriven,f2e5fde7a5,big data engineer (bdr),review,1,...,NaT,NaT,NaT,None,NaT,NaT,NaT,NaT,NaT,NaT
98,eb4afd,tim van elteren,tim,van elteren,None,jdriven,f2e5fde7a5,big data engineer (bdr),1st interview,1,...,NaT,NaT,NaT,None,NaT,NaT,NaT,NaT,NaT,NaT
99,ebb4b0,danielle mccool,danielle,mccool,None,jdriven,a8c5321f60,big data scientist (bdr),review,1,...,NaT,NaT,NaT,None,NaT,NaT,NaT,NaT,NaT,NaT

In [ ]:
def update_cand_db(last_id, cand_id_list):
    '''
    Update candidate database with any new candidates added after last candidate entry in DB
    Key Arguments:
    last_id -- id of last entry of the candidate database
    '''
    #Retrieve latest candidates
    r_cand_upd = requests.get(url+'candidates?limit='+limit+'&since_id='+last_id+'.json', headers=headers)
    if len(r_cand_upd.json()['candidates'])>1: 
        # first item in the candidates list is already in the DB
        for new_cand in r_cand_upd.json()['candidates'][1:]:
            cand_id_list.append(new_cand['id'])
            for k in key_list:
                loc = locate_element(new_cand,k)
                v = cand
                for i in loc:
                    v = v[i]
                df_dict[k].append(v)
        last_id=new_cand['id']
        return df_dict
    else:
        print('Nothing to add')
        print(cand_id_list[-1])

In [ ]:
import datetime
import pytz
#start_date = datetime.datetime(2014, 1, 1, 0, 0, 0, 0, pytz.UTC)
#end_date = datetime.datetime(2016, 10, 1, 0, 0, 0, 0, pytz.UTC)

start_date = datetime.datetime(2016, 5, 1, 0, 0, 0, 0)
end_date = datetime.datetime(2016, 12, 1, 0, 0, 0, 0)

funnel_stages = ['Sourced',
                 'Applied',
                 'Shortlisted',
                 'Talentpool',
                 'Review',
                 'To schedule',
                 '1st Interview',
                 '2nd Interview',
                 'Offer',
                 'Hired',
                 'disqualified_at'
]
funnel_d={}
for funnel in funnel_stages:
    funnel_d[funnel]=df_db[funnel][(df_db[funnel]>=start_date) & (df_db[funnel]<=end_date)].count()

In [ ]:
#figure(figsize=(20,6)) # figsize=(width,height)
plt.figure(figsize=(12, 12), dpi=80)
plt.bar(range(len(funnel_d)), list(funnel_d.values()), align='center')
plt.xticks(range(len(funnel_d)), list(funnel_d.keys()))
plt.show()

In [ ]:
conn = mysql.connector.connect(user='root', password='maartens1991',host='127.0.0.1', database='recruitment_dashboard')
cursor = conn.cursor()
sql_select_query = '''SELECT id FROM candidates2 ORDER BY created_at DESC LIMIT 1'''
cursor.execute(sql_select_query)
last_candidate_enty = cursor.fetchall() 
last_candidate_enty = last_candidate_enty[0][0]
conn.close()

In [ ]:
last_candidate_enty

In [ ]:
update_cand_db(last_id, cand_id_list)

In [ ]:
# Local DB

try:
    conn = mysql.connector.connect(user='root', password='maartens1991',host='127.0.0.1', database='recruitment_dashboard')
    cursor = conn.cursor()

    # Create table REPLACE WITH CODE BELOW TO MAKE QUERY STATEMENT AND THEN EXECUTE
    # Create sql_create_table_query = ... columns and data type
    col_dtype = []
    for col in df_comb.columns.tolist():
        col_dtype.append(col+' '+str(df_comb[col].dtype))
    
    #Replace objects with TEXT as object is not a data type that can be parsed into CREATE TABLE statement
    #Remove spaces in column name, replace with underscore
    #Rename sourced to is_sourced
    col_dtype = [s.replace('sourced', 'is_sourced') for s in col_dtype]
    col_dtype = [s.replace('To schedule', 'To_schedule') for s in col_dtype]
    col_dtype = [s.replace('1st Interview', '1st_Interview') for s in col_dtype]
    col_dtype = [s.replace('2nd Interview', '2nd_Interview') for s in col_dtype]
    col_dtype = [s.replace('object', 'TEXT') for s in col_dtype]
    col_dtype = [s.replace('<M8[ns]', 'DATE') for s in col_dtype]
    #if column data type is DATE, then dates have to be in the following format (as a string): YYYY-MM-DD
    # All values in column have to be in this format, it does not take a string like 'nan'
    # MySQL does accept NULL (not as a string, just as NULL)
    table_col = ','.join(col_dtype)
    
    sql_create_table_query = """CREATE TABLE candidates (%s)"""%(table_col)
    cursor.execute(sql_create_table_query)
    
    # Save (commit) the changes
    conn.commit()

    # Select column names in order from 1st to last column
    sql_select_query = '''SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'recruitment_dashboard'
    AND table_name   = 'candidates'
    ORDER BY ORDINAL_POSITION
    '''

    cursor = conn.cursor()
    cursor.execute(sql_select_query)
    records = cursor.fetchall() 
    columns = []
    for i in records:
        columns.append(i[0])
    col_n = ','.join(columns)

    #Records to insert in SQL table
    records_to_insert = list(df_comb.itertuples(index=False, name=None))
    params = ['%s' for item in records_to_insert[0]] # always use '%s' no matter the data type of the column
    var_string = ','.join(params)

    #Insert all records into table
    sql_insert_query = """INSERT INTO candidates (%s) VALUES (%s);""" %(col_n,var_string)
    cursor = conn.cursor()
    print('here')
    cursor.executemany(sql_insert_query, records_to_insert)
    
    #Commit all changes
    conn.commit()

except (Exception, mysql.connector.Error) as error:
    print ("Error while connecting to SQL DB", error)
finally:
    #Closing database connection
    if(conn):
        cursor.close()
        conn.close()
        print("SQL DB connection is closed")

In [ ]:
# Google Database

try:
    conn = mysql.connector.connect(user='root', password='MjB6KtDfI4pkzKr9',host='34.90.224.97', database='recruitment')
    cursor = conn.cursor()

    # Create table REPLACE WITH CODE BELOW TO MAKE QUERY STATEMENT AND THEN EXECUTE
    # Create sql_create_table_query = ... columns and data type
    col_dtype = []
    for col in df_comb.columns.tolist():
        col_dtype.append(col+' '+str(df_comb[col].dtype))
    
    #Replace objects with TEXT as object is not a data type that can be parsed into CREATE TABLE statement
    #Remove spaces in column name, replace with underscore
    #Rename sourced to is_sourced
    col_dtype = [s.replace('sourced', 'is_sourced') for s in col_dtype]
    col_dtype = [s.replace('To schedule', 'To_schedule') for s in col_dtype]
    col_dtype = [s.replace('1st Interview', '1st_Interview') for s in col_dtype]
    col_dtype = [s.replace('2nd Interview', '2nd_Interview') for s in col_dtype]
    col_dtype = [s.replace('object', 'TEXT') for s in col_dtype]
    table_col = ','.join(col_dtype)
    
    sql_create_table_query = """CREATE TABLE candidates (%s)"""%(table_col)
    cursor.execute(sql_create_table_query)
    
    # Save (commit) the changes
    conn.commit()

    # Select column names in order from 1st to last column
    sql_select_query = '''SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'recruitment_dashboard'
    AND table_name   = 'candidates'
    ORDER BY ORDINAL_POSITION
    '''

    cursor = conn.cursor()
    cursor.execute(sql_select_query)
    records = cursor.fetchall() 
    columns = []
    for i in records:
        columns.append(i[0])
    col_n = ','.join(columns)

    #Records to insert in SQL table
    records_to_insert = list(df_comb.itertuples(index=False, name=None))
    params = ['%s' for item in records_to_insert[0]] # always use '%s' no matter the data type of the column
    var_string = ','.join(params)

    #Insert all records into table
    sql_insert_query = """INSERT INTO candidates (%s) VALUES (%s);""" %(col_n,var_string)
    cursor = conn.cursor()
    print('here')
    cursor.executemany(sql_insert_query, records_to_insert)
    
    #Commit all changes
    conn.commit()

except (Exception, mysql.connector.Error) as error:
    print ("Error while connecting to SQL DB", error)
finally:
    #Closing database connection
    if(conn):
        cursor.close()
        conn.close()
        print("SQL DB connection is closed")

In [ ]:
#requests.get(url+'candidates/48384b3'+'.json', headers=headers).json()
#requests.get(url+'candidates/48384b3/activities'+'.json', headers=headers).json()['activities']
#section = 'events?'
#events = requests.get(url+section+'.json', headers=headers).json()

#section = 'jobs/A8C5321F60/activities'
#j = requests.get(url+section+'.json', headers=headers).json()