In [11]:
# TO DO
#How to safely pass in PW (where to store it?)
#Check if can find source in API
#Update DB function: access db, get last entry, then use since_id
#Create functions
#Create docker image
#Host image in cloud
#Flask webapp

# Check why max_id doesnt work

# Write .py functions
# Dockers

# Retrieve all keys in dictionary that do not contain

# need to make pipeline to transform all entries in DF

In [12]:
from copy import deepcopy
import requests
import numpy as np
import pandas as pd
import datetime
import time
import pytz
import random
from datetime import date
import mysql.connector
from sqlalchemy import create_engine
import pymysql
import matplotlib.pyplot as plt
from collections import Sequence
from itertools import chain, count, tee

headers={'Authorization': 'Bearer 229aa3876e4fc4447460a13da7f57d1be4111202e1d56d4d0231fb932c1e7cd1'}
url = 'https://jdriven.workable.com/spi/v3/'

In [13]:
def locate_element(data,look_up_elem):
    '''
    Function to locate the exact location of a an element in a data structure
    '''
    data_orig = data
    loc_list = []
    
    #### Step 1: Create loop: while look_up_elem not in loc_list
    while look_up_elem not in loc_list:

        data = data_orig
        if loc_list != []:
            for location in loc_list:
                data = data[location]     
        
        #### Step 2: Create loop for each element in data. This element needs to be appended to loc_list if element is found in (sub-levels of) this element
        # Combine step 4 and 5 in one function. Function is to flatten the data and check if look_up_elem is present in data. If element is found, return loc_list
        def check_branche(data):
                    #### Step 2: Check if look_up_element is present on 1st level of data
            if look_up_elem in data:
                loc_list.append(look_up_elem)
                return loc_list

            #### Step 3: If element not present on 1st level, filter out strings and integers from data. Method is different for different data types
            # Note: data_tuple = () (will be problematic, as you cannot append elements to a tuple). We may be able to add items from tuple to list as tuple is also a Sequence

            # Define data_elements
            if type(data)==dict: 
                data_elements = list(data.keys())
            elif type(data)==list: 
                data_elements = list(range(len(data)))
            # elif type(data)==tuple: 
                #data_elements = list(range(len(data)))

            else:
                return "Element not present"
                      
            for element in data_elements:

                data_to_check = data[element]

                # Define data_dict, data_list and data_tuple
                if type(data_to_check)==dict:
                    data_dict = data_to_check
                    data_list = []
                    data_tuple = ()
                elif type(data_to_check)==list:
                    data_dict = {}
                    data_list = data_to_check
                    data_tuple = ()
                elif type(data_to_check)==tuple:
                    data_dict = {}
                    data_list = []
                    data_tuple = data_to_check
                elif type(data_to_check)!=dict and type(data_to_check)!=list and type(data_to_check)!=tuple:
                    continue
                else:
                    return "Error"

                #### Step 5: Enter while loop (is within the for loop of step 4). From the filtered data obtained in step 3, divide the different elements into its data type. Then, flatten type(data) data type first and then the other two data types
                # When look_up_elem is found, append element to loc_list and return loc_list
                while data_dict != {} or data_list != [] or data_tuple !=():
                    # Flatten dictionary and check if element is present on any of the levels and add list elements to data_list
                    # After first round, if any elements were added to data_dict, go through these added elements
                    while data_dict != {}:
                        if look_up_elem in data_dict:
                            loc_list.append(element)
                            return 
                            
                        data_dict_temp = {}
                        # Filter the elements in data_dict
                        for key,value in iter(data_dict.items()):
                            if type(value)==dict:
                                data_dict_temp.update(value)
                            elif type(value)==list:
                                data_list.append(value)
                            #elif type(value)==tuple:
                            #    test_tuple
                            # to check if tuple is also a sequence, can also use chain(element) for this
                            else:
                                "Element is string or integer"
                        data_dict = data_dict_temp

                    # After data_dict is (temporarily) exhausted, go through data_list
                    while data_list != []:
                        if look_up_elem in data_list:
                            loc_list.append(element)
                            return loc_list

                        data_list_temp = []
                        # Filter the elements in data_dict
                        for item in data_list:
                            if type(item)==dict:
                                data_dict.update(item)
                            elif type(item)==list:
                                for i in item:
                                    data_list_temp.append(i)
                            else:
                                "Element is string or integer"
                        data_list = data_list_temp

                    # After data_list is (temporarily) exhausted, go through data_tuple
                    #while data_tuple !=():
                        # Flatten tuple, check if element is present on any of the levels and add dictionary and list elements to data_dict or data_list
                        #pass

            if look_up_elem not in loc_list:
                return "Element not Found"
        check_branche(data)
    
    return loc_list

In [14]:
def last_api_entry(url=url,headers=headers):
    '''
    Function to retrieve the last entry in Workable through API
    
    Inputs:
    url: url of the Workable API
    headers: headers to connect to the API
    
    Outputs:
    'id' of the last entry
    '''
    section = 'candidates?'
    limit='100'
    d = datetime.datetime.today()
    r_last_entry = requests.get(url+section+'limit='+limit+'&created_after='+d.isoformat()+'.json', headers=headers)
    while len(r_last_entry.json()['candidates'])==0:
        d = (d - datetime.timedelta(days=1))
        r_last_entry = requests.get(url+section+'limit='+limit+'&created_after='+d.isoformat()+'.json', headers=headers)
        time.sleep(0.9)
    last_id = r_last_entry.json()['candidates'][-1]['id']
    return last_id

In [15]:
last_api_id = last_api_entry(url,headers)

In [22]:
last_api_id

'48a4545'

In [17]:
def retrieve_last_db_entry(pw,db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard'):
    '''
    Function to retrieve candidate id of the last entry in the MySQL DB
    Inputs:
    db_name: Name of the to be created MySQL DB (default is 'candidates2')
    user: user name of db (default is 'root')
    pw: password of database
    host = '127.0.0.1' if connecting to local DB
    host = '<IP address of DB>' if connecting to a DB hosted externally
    port: port (default is no port specified). Format is: ':<port>'
    database: database schema name
    
    Outputs:
    last_entry_id: 'id' of last entry in the MySQL DB
    '''
    conn = mysql.connector.connect(user=user, password=pw,host=host, database=database)
    cursor = conn.cursor()
    sql_select_query = """SELECT id FROM %s ORDER BY created_at DESC LIMIT 1"""%(db_name)
    cursor.execute(sql_select_query)
    last_entry_id = cursor.fetchall() 
    last_entry_id = last_entry_id[0][0]
    conn.close()
    return last_entry_id

In [18]:
last_db_id = retrieve_last_db_entry(pw='maartens1991',db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard')

In [19]:
last_db_id

'ebb4b0'

In [ ]:
def create_db(workable_start_date='2010-01-01T10:10:10Z'):
#    retrieve_page()
#    ...

In [20]:
key_list = [
        'id',
        'name',
        'firstname',
        'lastname',
        'headline',
        'subdomain', 
        'shortcode',
        'title',
        'stage',
        'disqualified',
        'disqualification_reason',
        'hired_at',
        'sourced',
        'profile_url',
        'address',
        'phone',
        'email',
        'domain',
        'created_at',
        'updated_at',
]

In [ ]:
def update_db():
    # Create empty df_dict
    df_dict={}
    for key in key_list:
        df_dict[key]=[]
    last_db_id = retrieve_last_db_entry(pw='maartens1991',db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard')
    df_dict, since_id, cand_id_list=get_cand_data(df_dict, url=url,headers=headers, limit='100', cand_id_list=[], start_id=last_db_id, start_date='', key_list=key_list)
    while since_id!=None:
        #get more pages
    cand_id_list.remove(last_db_id)
    if cand_id_list!=[]:
        df_dict_cand=retrieve_activities(url,headers,cand_id_list)
        df_cand=create_df(df_dict)
        df_act=create_df(df_dict_cand)
        df_comb=merge_df(df_cand,df_act,how='left', on=['id'])
        df_comb=transform_df(df)
        df_to_db(df_comb,pw,db_name='candidates5',user='root:',host='localhost',port='',schema='recruitment_dashboard')

In [ ]:
# Create empty df_dict
df_dict={}
for key in key_list:
    df_dict[key]=[]

In [26]:
def get_cand_data(df_dict, url=url,headers=headers, limit='100', cand_id_list=[], start_id='', start_date='', key_list=key_list):  #request
    if start_date != '':
        created_after = '&created_after='+start_date
    else:
        created_after = ''
    
    if start_id != '':
        start_id = '&since_id='+start_id
    else:
        start_id = ''
    section = 'candidates?'
    request = requests.get(url+section+'limit='+limit+created_after+start_id+'.json', headers=headers)  
    for cand in request.json()['candidates']:
        cand_id_list = cand_id_list
        cand_id_list.append(cand['id'])
        for k in key_list:
            loc = locate_element(cand,k)
            v = cand
            for i in loc:
                v = v[i]
            df_dict[k].append(v)
    try:
        since_id=r_cand.json()['paging']['next'].split("since_id=",1)[1]
        return df_dict, since_id, cand_id_list
    except:
        since_id=None
        return df_dict, since_id, cand_id_list

In [27]:
get_cand_data(df_dict=df_dict, url=url,headers=headers, limit='100', cand_id_list=[], start_id=last_api_id, start_date='', key_list=key_list)

({'id': ['48a4545', '48a4545'],
  'name': ['Jens Dudink', 'Jens Dudink'],
  'firstname': ['Jens', 'Jens'],
  'lastname': ['Dudink', 'Dudink'],
  'headline': [None, None],
  'subdomain': ['jdriven', 'jdriven'],
  'shortcode': ['5E4DC1408A', '5E4DC1408A'],
  'title': ['Data Scientist (Vantage AI)', 'Data Scientist (Vantage AI)'],
  'stage': ['Review', 'Review'],
  'disqualified': [False, False],
  'disqualification_reason': [None, None],
  'hired_at': [None, None],
  'sourced': [True, True],
  'profile_url': ['https://jdriven.workable.com/backend/jobs/686542/candidates/76169331',
   'https://jdriven.workable.com/backend/jobs/686542/candidates/76169331'],
  'address': [None, None],
  'phone': ['(+31) 6 2446 4393', '(+31) 6 2446 4393'],
  'email': ['ja.dudink@gmail.com', 'ja.dudink@gmail.com'],
  'domain': [None, None],
  'created_at': ['2019-10-04T12:32:48Z', '2019-10-04T12:32:48Z'],
  'updated_at': ['2019-10-04T13:16:39Z', '2019-10-04T13:16:39Z']},
 None,
 ['48a4545'])

In [ ]:
def retrieve_all_pages(url,headers,df_dict,since_id,cand_id_list,last_id):
    '''
    Function to get retrieve general candidate data
    Inputs:
    
    Outputs:
    
    
    '''
    try:
        while last_id not in cand_id_list:
            r_cand = requests.get(url+section+'limit='+limit+'&since_id='+since_id+'.json', headers=headers)
            df_dict, since_id, cand_id_list
            get_cand_data(df_dict, url=url,headers=headers, limit='100', cand_id_list=[], start_id='', start_date='', key_list=key_list)
            time.sleep(0.9)
        return df_dict, cand_id_list
    except:
        return df_dict, cand_id_list

In [ ]:
def retrieve_activities(url,headers,cand_id_list):
    '''
    Function to create candidate activity dictionary
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''
    # Create DataFrame column labels
    df_dict_cand = {}
    key_list_cand = ['id','tags']
    stage_name_list = [
        'Sourced',
        'Applied',
        'Shortlisted',
        'Talentpool',
        'Review',
        'To schedule',
        'Inplannen 1e gesorek', #not in use anymore --> combine with 'To Schedule' --> delete
        'Inplannen 1e gesprek', #not in use anymore --> combine with 'To Schedule' --> delete
        'inplannen 2e gesprek', #not in use anymore --> combine with '1st Interview' --> delete
        '1st Interview',
        '1e gesprek', #not in use anymore --> combine with '1st Interview' --> delete
        'Interview 1', #not in use anymore --> combine with '1st Interview' --> delete
        '2nd Interview', 
        'Interview 2', #not in use anymore --> combine with '2nd Interview' --> delete
        'Assessment', #not in use anymore --> combine with '2nd Interview' --> delete
        '2e gesprek', #not in use anymore --> combine with '2nd Interview' --> delete
        'Offer',
        'Aanbieding', #not in use anymore --> combine with 'Offer' --> delete
        'Hired',
        'Aangenomen', #not in use anymore --> combine with 'Hired' --> delete
        'Test Fase', #not in use anymore --> delete
        'intern evalueren', #not in use anymore --> delete
        'Plan 1', #not in use anymore --> delete
        'Plan 2', #not in use anymore --> delete
        'Vergaarbak' #not in use anymore --> delete
    ]

    #Add labels to dictionary
    for key in key_list_cand:
        df_dict_cand[key]=[]    
    for key in stage_name_list:
        df_dict_cand[key]=[]
    df_dict_cand['disqualified_at']=[]

    #Retrieve data through API
    section = 'candidates/'
    cnt = 0
    other_st = {'st':[]} # Can be removed later, if appears all stages are listed in stage_name_list

    for cand_id in cand_id_list[:50]: #[:50]  
        print(cand_id)
        r_cand_id = requests.get(url+section+cand_id+'.json', headers=headers)
        time.sleep(1.0)
        print('calls remaining:')
        print(r_cand_id.headers['x-rate-limit-remaining'])
        for k in key_list_cand:
            loc = locate_element(r_cand_id.json()['candidate'],k)
            v = r_cand_id.json()['candidate']
            for i in loc:
                v = v[i]
            df_dict_cand[k].append(v)

        # loop through activities for candidate cand_id
        r_cand_id_act = requests.get(url+section+cand_id+'/activities'+'.json', headers=headers)
        print('calls remaining:')
        print(r_cand_id_act.headers['x-rate-limit-remaining'])
        r_cand_id_act=r_cand_id_act.json()['activities']
        time.sleep(1.0)
        stages = deepcopy(stage_name_list)
        disqualified=False
        for act in r_cand_id_act:
            if act['action']=='disqualified' and disqualified==False:
                df_dict_cand['disqualified_at'].append(act['created_at'])
                disqualified=True
            if act['stage_name'] in stage_name_list:
                if act['stage_name'] not in stages:
                    continue
                else:
                    df_dict_cand[act['stage_name']].append(act['created_at'])
                    stages.remove(act['stage_name'])
            else:
                if act['stage_name']!=None:
                    print(act['stage_name'])
                other_st['st'].append(act['stage_name'])
        if disqualified==False:
            df_dict_cand['disqualified_at'].append(np.nan)
        for remaining_stage in stages:
            df_dict_cand[remaining_stage].append(np.nan)         
        cnt+=1
        print(cnt)
        time.sleep(0.5)
    return df_dict_cand

In [ ]:
df_dict, cand_id_list = retrieve_all_pages(url,headers,df_dict,since_id,cand_id_list,last_id)

In [ ]:
def create_df(df_dict):
    '''
    Convert dictionary into pandas DataFrame
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''
    df = pd.DataFrame.from_dict(df_dict, orient='columns')
    return df

In [ ]:
df = create_df(df_dict)

In [ ]:
df

In [ ]:
df_dict_cand=retrieve_activities(url,headers,cand_id_list)

In [ ]:
df_cand=create_df(df_dict_cand)

In [ ]:
df_cand

In [ ]:
def merge_df(df1,df2,how='left', on=['id']):
    '''
    Function to create candidate activity dictionary
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''    
    df = pd.merge(df1, df2, how=how, on=on)
    return df

In [ ]:
df_comb = merge_df(df,df_cand,how='left', on=['id'])

In [ ]:
df_comb

In [ ]:
def transform_df(df):
    '''
    Function to transform DataFrame
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    '''
    #Rename duplicate column name to prevent error when creating SQL database
    df=df.rename(columns = {'sourced':'is_sourced'})
    
    #Replace and Delete columns
    df['To schedule'][(df['Inplannen 1e gesorek'].isnull()==False) & (df['To schedule'].isnull()==True)]=df['Inplannen 1e gesorek'][(df['Inplannen 1e gesorek'].isnull()==False) & (df['To schedule'].isnull()==True)]
    df.drop('Inplannen 1e gesorek',axis=1,inplace = True)
    df['To schedule'][(df['Inplannen 1e gesprek'].isnull()==False) & (df['To schedule'].isnull()==True)]=df['Inplannen 1e gesprek'][(df['Inplannen 1e gesprek'].isnull()==False) & (df['To schedule'].isnull()==True)]
    df.drop('Inplannen 1e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['inplannen 2e gesprek'].isnull()==False) & (df['1st Interview'].isnull()==True)]=df['inplannen 2e gesprek'][(df['inplannen 2e gesprek'].isnull()==False) & (df['1st Interview'].isnull()==True)]
    df.drop('inplannen 2e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['1e gesprek'].isnull()==False) & (df['1st Interview'].isnull()==True)]=df['1e gesprek'][(df['1e gesprek'].isnull()==False) & (df['1st Interview'].isnull()==True)]
    df.drop('1e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['Interview 1'].isnull()==False) & (df['1st Interview'].isnull()==True)]=df['Interview 1'][(df['Interview 1'].isnull()==False) & (df['1st Interview'].isnull()==True)]
    df.drop('Interview 1',axis=1,inplace = True)
    df['2nd Interview'][(df['Interview 2'].isnull()==False) & (df['2nd Interview'].isnull()==True)]=df['Interview 2'][(df['Interview 2'].isnull()==False) & (df['2nd Interview'].isnull()==True)]
    df.drop('Interview 2',axis=1,inplace = True)
    df['2nd Interview'][(df['Assessment'].isnull()==False) & (df['2nd Interview'].isnull()==True)]=df['Assessment'][(df['Assessment'].isnull()==False) & (df['2nd Interview'].isnull()==True)]
    df.drop('Assessment',axis=1,inplace = True)
    df['2nd Interview'][(df['2e gesprek'].isnull()==False) & (df['2nd Interview'].isnull()==True)]=df['2e gesprek'][(df['2e gesprek'].isnull()==False) & (df['2nd Interview'].isnull()==True)]
    df.drop('2e gesprek',axis=1,inplace = True)
    df['Offer'][(df['Aanbieding'].isnull()==False) & (df['Offer'].isnull()==True)]=df['Aanbieding'][(df['Aanbieding'].isnull()==False) & (df['Offer'].isnull()==True)]
    df.drop('Aanbieding',axis=1,inplace = True)

    df['Hired'][(df['Aangenomen'].isnull()==False) & (df['Hired'].isnull()==True)]=df['Aangenomen'][(df['Aangenomen'].isnull()==False) & (df['Hired'].isnull()==True)]
    df.drop('Aangenomen',axis=1,inplace = True)

    # Delete Columns
    df.drop('Test Fase',axis=1,inplace = True)
    df.drop('intern evalueren',axis=1,inplace = True)
    df.drop('Plan 1',axis=1,inplace = True)
    df.drop('Plan 2',axis=1,inplace = True)
    df.drop('Vergaarbak',axis=1,inplace = True)

    #Remove only for now (will be used for source of candidate)
    df.drop('tags',axis=1,inplace = True)

    #Replace np.nan with None, as None is accepted if df is written to a DB using df.to_sql
    #Note that None will only be converted to NULL in SQL if df.to_sql is used, not using executemany
    #NaT is converted as None if using to_sql
    df = df.where((pd.notnull(df)), None)

    #Convert None to 'nan' if getting errors when inserting into MySQL DB
    #df.fillna(value='nan', inplace=True)

    #Convert date columns into DATE columns with specified format
    date_cols = [
            'hired_at',
            'Sourced',
            'Applied',
            'Shortlisted',
            'Talentpool',
            'Review',
            'To schedule',
            '1st Interview',
            '2nd Interview',
            'Offer',
            'Hired',
            'disqualified_at'
    ]
    for date_col in date_cols:
        #df[date_col]=pd.to_datetime(df[date_col])
        df[date_col]=pd.to_datetime(pd.to_datetime(df[date_col]).dt.strftime('%Y-%m-%d'))
    # Make pipeline for this, using typeselector
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col]=df[col].str.encode('ascii', 'ignore').str.decode('ascii')
            df[col][df[col].isnull()==False]=df[col][df[col].isnull()==False].apply(lambda x: x.lower())    
    return df

In [ ]:
df_comb = transform_df(df_comb)

In [ ]:
df_comb

In [ ]:
def df_to_db(df,pw,db_name='candidates5',user='root:',host='localhost',port='',schema='recruitment_dashboard'):
    '''
    Function to write DataFrame to MySQL DB
    Inputs:
    df: DataFrame containing all candidate data
    db_name: Name of the to be created MySQL DB (default is 'candidates2')
    user: user name of db (default is 'root')
    pw: password of database
    host = 'localhost' if connecting to local DB
    host = '<IP address of DB>' if connecting to a DB hosted externally
    port: port (default is no port specified). Format is: ':<port>'
    schema: database schema name
    
    Outputs:
    Populated MySQL Database
    '''
    engine = create_engine('mysql+pymysql://'+user+pw+'@'+host+port+'/'+schema, echo = False)
    df.to_sql(name = db_name, con = engine, if_exists = 'append', index = False)

In [ ]:
df_to_db(df_comb,db_name='candidates5',user='root:',pw='maartens1991',host='localhost',port='',schema='recruitment_dashboard')

In [ ]:
#Write to Google Cloud DB
engine_cloud = create_engine('mysql+pymysql://root:MjB6KtDfI4pkzKr9@34.90.224.97/recruitment', echo = False)
df_comb.to_sql(name = 'candidates2', con = engine_cloud, if_exists = 'append', index = False)

In [ ]:
def db_to_df(pw,db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard'):
    '''
    Function to convert MySQL DB to DataFrame
    Inputs:
    db_name: Name of the to be created MySQL DB (default is 'candidates2')
    user: user name of db (default is 'root')
    pw: password of database
    host = '127.0.0.1' if connecting to local DB
    host = '<IP address of DB>' if connecting to a DB hosted externally
    port: port (default is no port specified). Format is: ':<port>'
    database: database schema name
    
    Outputs:
    Populated MySQL Database
    '''
    conn = mysql.connector.connect(user=user, password=pw,host=host, database=database)
    df = pd.read_sql("SELECT * from "+db_name, conn)
    return df

In [ ]:
df_db = db_to_df(pw='maartens1991',db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard')

In [ ]:
df_db

In [ ]:
def retrieve_funnel(df,start_year=2014, start_month=1, start_day=1, end_year=2017, end_month=1, end_day=1):
    '''
    Function to retrieve interview process funnel for specified time frame
    Inputs:
    df: DataFrame containing info about all candidates
    start_date
    end_date

    
    Outputs:
    funnel_dict: dictionary containing the number of candidates in each funnel stage for specified time frame
    '''
    start_date = datetime.datetime(start_year, start_month, start_date)
    end_date = datetime.datetime(end_year, end_month, end_date)

    funnel_stages = [
            'Sourced',
            'Applied',
            'Shortlisted',
            'Talentpool',
            'Review',
            'To schedule',
            '1st Interview',
            '2nd Interview',
            'Offer',
            'Hired',
            'disqualified_at'
    ]
    funnel_dict={}
    for funnel in funnel_stages:
        funnel_dict[funnel]=df[funnel][(df[funnel]>=start_date) & (df[funnel]<=end_date)].count()
    return funnel_dict

In [ ]:
retrieve_funnel(df,start_year=2014, start_month=1, start_day=1, end_year=2017, end_month=1, end_day=1)

In [ ]:
#figure(figsize=(20,6)) # figsize=(width,height)
plt.figure(figsize=(12, 12), dpi=80)
plt.bar(range(len(funnel_dict)), list(funnel_dict.values()), align='center')
plt.xticks(range(len(funnel_dict)), list(funnel_dict.keys()))
plt.show()

In [ ]:
#Update DB

In [ ]:
retrieve_last_db_entry(pw='maartens1991',db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard')

In [ ]:
def update_db(url,headers,pw,db_name="candidates5",user='root',host='127.0.0.1',port='',database='recruitment_dashboard'): #cand_id_list
    '''
    Update candidate database with any new candidates added after last candidate entry in DB
    Key Arguments:
    last_id -- id of last entry of the candidate database
    '''
    section = 'candidates?'
    limit='100'
    
    #Retrieve latest candidates in Workable
    last_id=retrieve_last_db_entry(pw=pw,db_name=db_name,user=user,host=host,port=port,database=database)
    r_cand_upd = requests.get(url+section+'limit='+limit+'&since_id='+last_id+'.json', headers=headers)
    if len(r_cand_upd.json()['candidates'])>1: 
        for cand in r_cand_upd.json()['candidates'][1:]: # first item in the candidates list is already in the DB
            new_cands.append(cand['id'])
            for k in key_list:
                loc = locate_element(cand,k)
                v = cand
                for i in loc:
                    v = v[i]
                df_dict[k].append(v)
    df_dict, new_cands

In [ ]:
def retrieve_page(url,headers,workable_start_date='', since_id=''): #
    '''    
    Function to retrieve the first page in Workable
    Input:
    url:
    headers:
    workable_start_date: if want to get first page in Workable. Format: '2010-01-01T10:10:10Z'. Default: '' i.e. not specified
    
    Output:
    df_dict: dictionary containing candidate data of the first page in Workable
    '''
    
    # List with DataFrame columns
    key_list = [
        'id',
        'name',
        'firstname',
        'lastname',
        'headline',
        'subdomain', 
        'shortcode',
        'title',
        'stage',
        'disqualified',
        'disqualification_reason',
        'hired_at',
        'sourced',
        'profile_url',
        'address',
        'phone',
        'email',
        'domain',
        'created_at',
        'updated_at',
    ]

    # Create empty DataFrame
    df_dict = {}
    for key in key_list:
        df_dict[key]=[]

    cand_id_list = []

    # Get first page and retrieve candidate_id
    section = 'candidates?'
    limit='100'
    if workable_start_date != '':
        created_after = '&created_after='+workable_start_date+'
        workable_start_date = '2010-01-01T10:10:10Z'
    else:
        created_after = ''+
    r_cand = requests.get(url+section+'limit='+limit+created_after.json', headers=headers)
    for cand in r_cand.json()['candidates']:
        cand_id_list.append(cand['id'])
        for k in key_list:
            loc = locate_element(cand,k)
            v = cand
            for i in loc:
                v = v[i]
            df_dict[k].append(v)
    since_id=r_cand.json()['paging']['next'].split("since_id=",1)[1]
    return df_dict, since_id, cand_id_list

In [ ]:
last_db_id

In [ ]:
# Local DB

try:
    conn = mysql.connector.connect(user='root', password='maartens1991',host='127.0.0.1', database='recruitment_dashboard')
    cursor = conn.cursor()

    # Create table REPLACE WITH CODE BELOW TO MAKE QUERY STATEMENT AND THEN EXECUTE
    # Create sql_create_table_query = ... columns and data type
    col_dtype = []
    for col in df_comb.columns.tolist():
        col_dtype.append(col+' '+str(df_comb[col].dtype))
    
    #Replace objects with TEXT as object is not a data type that can be parsed into CREATE TABLE statement
    #Remove spaces in column name, replace with underscore
    #Rename sourced to is_sourced
    col_dtype = [s.replace('sourced', 'is_sourced') for s in col_dtype]
    col_dtype = [s.replace('To schedule', 'To_schedule') for s in col_dtype]
    col_dtype = [s.replace('1st Interview', '1st_Interview') for s in col_dtype]
    col_dtype = [s.replace('2nd Interview', '2nd_Interview') for s in col_dtype]
    col_dtype = [s.replace('object', 'TEXT') for s in col_dtype]
    col_dtype = [s.replace('<M8[ns]', 'DATE') for s in col_dtype]
    #if column data type is DATE, then dates have to be in the following format (as a string): YYYY-MM-DD
    # All values in column have to be in this format, it does not take a string like 'nan'
    # MySQL does accept NULL (not as a string, just as NULL)
    table_col = ','.join(col_dtype)
    
    sql_create_table_query = """CREATE TABLE candidates (%s)"""%(table_col)
    cursor.execute(sql_create_table_query)
    
    # Save (commit) the changes
    conn.commit()

    # Select column names in order from 1st to last column
    sql_select_query = '''SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'recruitment_dashboard'
    AND table_name   = 'candidates'
    ORDER BY ORDINAL_POSITION
    '''

    cursor = conn.cursor()
    cursor.execute(sql_select_query)
    records = cursor.fetchall() 
    columns = []
    for i in records:
        columns.append(i[0])
    col_n = ','.join(columns)

    #Records to insert in SQL table
    records_to_insert = list(df_comb.itertuples(index=False, name=None))
    params = ['%s' for item in records_to_insert[0]] # always use '%s' no matter the data type of the column
    var_string = ','.join(params)

    #Insert all records into table
    sql_insert_query = """INSERT INTO candidates (%s) VALUES (%s);""" %(col_n,var_string)
    cursor = conn.cursor()
    print('here')
    cursor.executemany(sql_insert_query, records_to_insert)
    
    #Commit all changes
    conn.commit()

except (Exception, mysql.connector.Error) as error:
    print ("Error while connecting to SQL DB", error)
finally:
    #Closing database connection
    if(conn):
        cursor.close()
        conn.close()
        print("SQL DB connection is closed")

In [ ]:
# Google Database

try:
    conn = mysql.connector.connect(user='root', password='MjB6KtDfI4pkzKr9',host='34.90.224.97', database='recruitment')
    cursor = conn.cursor()

    # Create table REPLACE WITH CODE BELOW TO MAKE QUERY STATEMENT AND THEN EXECUTE
    # Create sql_create_table_query = ... columns and data type
    col_dtype = []
    for col in df_comb.columns.tolist():
        col_dtype.append(col+' '+str(df_comb[col].dtype))
    
    #Replace objects with TEXT as object is not a data type that can be parsed into CREATE TABLE statement
    #Remove spaces in column name, replace with underscore
    #Rename sourced to is_sourced
    col_dtype = [s.replace('sourced', 'is_sourced') for s in col_dtype]
    col_dtype = [s.replace('To schedule', 'To_schedule') for s in col_dtype]
    col_dtype = [s.replace('1st Interview', '1st_Interview') for s in col_dtype]
    col_dtype = [s.replace('2nd Interview', '2nd_Interview') for s in col_dtype]
    col_dtype = [s.replace('object', 'TEXT') for s in col_dtype]
    table_col = ','.join(col_dtype)
    
    sql_create_table_query = """CREATE TABLE candidates (%s)"""%(table_col)
    cursor.execute(sql_create_table_query)
    
    # Save (commit) the changes
    conn.commit()

    # Select column names in order from 1st to last column
    sql_select_query = '''SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'recruitment_dashboard'
    AND table_name   = 'candidates'
    ORDER BY ORDINAL_POSITION
    '''

    cursor = conn.cursor()
    cursor.execute(sql_select_query)
    records = cursor.fetchall() 
    columns = []
    for i in records:
        columns.append(i[0])
    col_n = ','.join(columns)

    #Records to insert in SQL table
    records_to_insert = list(df_comb.itertuples(index=False, name=None))
    params = ['%s' for item in records_to_insert[0]] # always use '%s' no matter the data type of the column
    var_string = ','.join(params)

    #Insert all records into table
    sql_insert_query = """INSERT INTO candidates (%s) VALUES (%s);""" %(col_n,var_string)
    cursor = conn.cursor()
    print('here')
    cursor.executemany(sql_insert_query, records_to_insert)
    
    #Commit all changes
    conn.commit()

except (Exception, mysql.connector.Error) as error:
    print ("Error while connecting to SQL DB", error)
finally:
    #Closing database connection
    if(conn):
        cursor.close()
        conn.close()
        print("SQL DB connection is closed")

In [ ]:
requests.get(url+'candidates/ebb4b0'+'.json', headers=headers).json()

In [ ]:
#requests.get(url+'candidates/48384b3'+'.json', headers=headers).json()
#requests.get(url+'candidates/48384b3/activities'+'.json', headers=headers).json()['activities']
#section = 'events?'
#events = requests.get(url+section+'.json', headers=headers).json()

#section = 'jobs/A8C5321F60/activities'
#j = requests.get(url+section+'.json', headers=headers).json()