In [1]:
# TO DO
#How to safely pass in PW (where to store it?)
#Check if can find source in API
#Create functions
#Create docker image
#Host image in cloud
#Flask webapp

#CHange default values in functions to Google Cloud SQL DB

# Check why max_id doesnt work

# Write .py functions
# Dockers

In [2]:
from copy import deepcopy
import requests
import numpy as np
import pandas as pd
import datetime
import time
import dateutil.relativedelta
import pytz
import random
from datetime import date
import mysql.connector
from sqlalchemy import create_engine
#import pymysql
import matplotlib.pyplot as plt
from collections import Sequence
from itertools import chain, count, tee
import os
from dotenv import load_dotenv, find_dotenv

C:\Users\Maarten\Anaconda3\envs\ams\lib\site-packages\ipykernel_launcher.py:15: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from ipykernel import kernelapp as app

In [ ]:
pymysql

In [8]:
a = {'key1':1}

In [9]:
isinstance(a,dict)

True

In [24]:
conn = mysql.connector.connect(user='root', password='maartens1991', host='127.0.0.1', port = '3306', database='recruitment_dashboard', auth_plugin='mysql_native_password')
bc = pd.read_sql("SELECT * from candidates2", conn)

In [30]:
bc

,id,name,firstname,lastname,headline,subdomain,shortcode,title,stage,disqualified,...,Applied,Shortlisted,Talentpool,Review,To schedule,1st Interview,2nd Interview,Offer,Hired,disqualified_at
0,ddb204,niels drost,niels,drost,None,jdriven,a8c5321f60,big data scientist (bdr),1st interview,1,...,NaT,NaT,NaT,NaT,NaT,2019-01-08,NaT,NaT,NaT,2016-09-06
1,ddb571,paula l amaral santos,paula l,amaral santos,None,jdriven,a8c5321f60,big data scientist (bdr),hired,0,...,NaT,NaT,NaT,NaT,NaT,2016-09-05,2016-09-26,2016-10-07,2016-10-14,NaT
2,ddb572,gulliver de boer,gulliver,de boer,None,jdriven,a8c5321f60,big data scientist (bdr),2nd interview,1,...,NaT,NaT,NaT,NaT,NaT,2016-09-05,2016-09-20,NaT,NaT,2019-01-28
3,ddb582,pieter kouyzer,pieter,kouyzer,None,jdriven,a8c5321f60,big data scientist (bdr),talentpool,0,...,NaT,NaT,2019-02-01,NaT,NaT,2016-09-05,NaT,NaT,NaT,2016-09-11
4,ddb9ca,profiel van aris koning,profiel van aris,koning,None,jdriven,a8c5321f60,big data scientist (bdr),2nd interview,1,...,NaT,NaT,NaT,NaT,NaT,NaT,2016-09-05,NaT,NaT,2016-09-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5192,48ea0c4,babak loni,babak,loni,None,jdriven,5e4dc1408a,data scientist (vantage ai),review,0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
5193,48ea1c3,adam vandor,adam,vandor,None,jdriven,5e4dc1408a,data scientist (vantage ai),review,0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
5194,48ea22f,simona elena necula,simona,elena necula,None,jdriven,a8c5321f60,big data scientist (bdr),review,0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
5195,48ea3e5,praan doelam,praan,doelam,None,jdriven,9882e4c0ea,java developer (jdriven),review,0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
5196,48eb0ae,julitte veldhuis,julitte,veldhuis,None,jdriven,73ed57abba,accountmanager,1st interview,0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [ ]:
def get_login_details():
    # find .env automagically by walking up directories until it's found
    dotenv_path = find_dotenv()
    # load up the entries as environment variables
    load_dotenv(dotenv_path)
    user = os.environ.get("DB_USER")
    pw = os.environ.get("DB_PW")
    headers = os.environ.get("API_HEADERS")
    return user, pw, headers

In [7]:
"""
Function to retrieve location of a key in nested data structure
"""

def locate_element(data, look_up_elem):
    '''
    Function to locate the exact location of a an element in a data structure
    '''
    data_orig = data
    loc_list = []

    #### Step 1: Create loop: while look_up_elem not in loc_list
    while look_up_elem not in loc_list:

        data = data_orig
        if loc_list != []:
            for location in loc_list:
                data = data[location]

                #### Step 2: Create loop for each element in data.
                # This element needs to be appended to loc_list if element is
                # found in (sub-levels of) this element

        # Combine step 4 and 5 in one function.
        # Function is to flatten the data and check if look_up_elem is present in data.
        # If element is found, return loc_list
        def check_branche(data):
            #### Step 2: Check if look_up_element is present on 1st level of data
            if look_up_elem in data:
                loc_list.append(look_up_elem)
                return loc_list

            #### Step 3: If element not present on 1st level, filter out strings and integers from data.
            # Method is different for different data types
            # Note: data_tuple = () (will be problematic, as you cannot append elements to a tuple).
            # We may be able to add items from tuple to list as tuple is also a Sequence

            # Define data_elements
            if isinstance(data, dict):
                data_elements = list(data.keys())
            elif isinstance(data, list):
                data_elements = list(range(len(data)))
            # elif type(data)==tuple:
            # data_elements = list(range(len(data)))

            else:
                return "Element not present"

            for element in data_elements:
                data_to_check = data[element]

                # Define data_dict, data_list and data_tuple
                if isinstance(data_to_check, dict):
                    data_dict = data_to_check
                    data_list = []
                    data_tuple = ()
                elif isinstance(data_to_check, list):
                    data_dict = {}
                    data_list = data_to_check
                    data_tuple = ()
                elif isinstance(data_to_check, tuple):
                    data_dict = {}
                    data_list = []
                    data_tuple = data_to_check
                elif not isinstance(data_to_check, dict) and not isinstance(data_to_check, list) \
                and not isinstance(data_to_check, tuple):
                    continue
                else:
                    return "Error"

                #### Step 5: Enter while loop (is within the for loop of step 4).
                # From the filtered data obtained in step 3, divide the different elements into its data type
                # Then, flatten type(data) data type first and then the other two data types
                # When look_up_elem is found, append element to loc_list and return loc_list
                while data_dict != {} or data_list != [] or data_tuple != ():
                    # Flatten dictionary and check if element is present on any of the levels and
                    # add list elements to data_list
                    # After first round, if any elements were added to data_dict,
                    # go through these added elements
                    while data_dict != {}:
                        if look_up_elem in data_dict:
                            loc_list.append(element)
                            return

                        data_dict_temp = {}
                        # Filter the elements in data_dict
                        for key, value in iter(data_dict.items()):
                            if isinstance(value, dict):
                                data_dict_temp.update(value)
                            elif isinstance(value, list):
                                data_list.append(value)
                            # elif isinstance(value, tuple):
                            #    test_tuple
                            # to check if tuple is also a sequence, can also use chain(element) for this
                            else:
                                continue
                        data_dict = data_dict_temp

                    # After data_dict is (temporarily) exhausted, go through data_list
                    while data_list != []:
                        if look_up_elem in data_list:
                            loc_list.append(element)
                            return loc_list

                        data_list_temp = []
                        # Filter the elements in data_dict
                        for item in data_list:
                            if isinstance(item, dict):
                                data_dict.update(item)
                            elif isinstance(item, list):
                                for idx in item:
                                    data_list_temp.append(idx)
                            else:
                                continue
                        data_list = data_list_temp

                    # After data_list is (temporarily) exhausted, go through data_tuple
                    # while data_tuple !=():
                    # Flatten tuple, check if element is present on any of the levels and add dictionary
                    # and list elements to data_dict or data_list
                    # pass

            if look_up_elem not in loc_list:
                return "Element not Found"

        check_branche(data)
    return loc_list

In [32]:
a = {'key1':1, 'key2':[1,2,3,[1,2,3,{'key5':5}]]}

In [33]:
locate_element(a, 'key5')

Element is string or integer
Element is string or integer
Element is string or integer
Element is string or integer
Element is string or integer
Element is string or integer
Element is string or integer
Element is string or integer
Element is string or integer

['key2', 3, 3, 'key5']

In [4]:
key_list = [
        'id',
        'name',
        'firstname',
        'lastname',
        'headline',
        'subdomain', 
        'shortcode',
        'title',
        'stage',
        'disqualified',
        'disqualification_reason',
        'hired_at',
        'sourced',
        'profile_url',
        'address',
        'phone',
        'email',
        'domain',
        'created_at',
        'updated_at',
]

In [ ]:
def last_api_entry(url, headers):
    '''
    Function to retrieve the last entry in Workable through API
    
    Inputs:
    url: url of the Workable API
    headers: headers to connect to the API
    
    Outputs:
    'id' of the last entry
    '''
    section = 'candidates?'
    limit='100'
    d = datetime.datetime.today()
    r_last_entry = requests.get(url+section+'limit='+limit+'&created_after='+d.isoformat()+'.json', headers=headers)
    while len(r_last_entry.json()['candidates'])==0:
        d = (d - datetime.timedelta(days=1))
        r_last_entry = requests.get(url+section+'limit='+limit+'&created_after='+d.isoformat()+'.json', headers=headers)
        time.sleep(0.9)
    last_id = r_last_entry.json()['candidates'][-1]['id']
    return last_id

In [ ]:
def retrieve_last_db_entry(pw, db_name="candidates", user='root', host='127.0.0.1', port='', database='recruitment_dashboard'):
    '''
    Function to retrieve candidate id of the last entry in the MySQL DB
    Inputs:
    db_name: Name of the to be created MySQL DB (default is 'candidates2')
    user: user name of db (default is 'root')
    pw: password of database
    host = '127.0.0.1' if connecting to local DB
    host = '<IP address of DB>' if connecting to a DB hosted externally
    port: port (default is no port specified). Format is: ':<port>'
    database: database schema name
    
    Outputs:
    last_entry_id: 'id' of last entry in the MySQL DB
    '''
    conn = mysql.connector.connect(user=user, password=pw,host=host, database=database)
    cursor = conn.cursor()
    sql_select_query = """SELECT id FROM %s ORDER BY created_at DESC LIMIT 1"""%(db_name)
    cursor.execute(sql_select_query)
    last_entry_id = cursor.fetchall() 
    last_entry_id = last_entry_id[0][0]
    conn.close()
    return last_entry_id

In [8]:
def get_cand_data(df_dict, key_list, url, headers, cand_id_list=None, start_id='', start_date=''):
    if cand_id_list is None:
        cand_id_list = []
    if start_date != '':
        created_after = '&created_after='+start_date
    else:
        created_after = ''
    
    if start_id != '':
        start_id = '&since_id='+start_id
    else:
        start_id = ''
    section = 'candidates?'
    limit='100'
    request = requests.get(url+section+'limit='+limit+created_after+start_id+'.json', headers=headers)  
    for cand in request.json()['candidates']:
        cand_id_list.append(cand['id'])
        for k in key_list:
            loc = locate_element(cand,k)
            v = cand
            for i in loc:
                v = v[i]
            df_dict[k].append(v)
    try:
        since_id=request.json()['paging']['next'].split("since_id=",1)[1]
        return df_dict, since_id, cand_id_list
    except:
        since_id=None
        return df_dict, since_id, cand_id_list

In [9]:
headers={'Authorization': 'Bearer 229aa3876e4fc4447460a13da7f57d1be4111202e1d56d4d0231fb932c1e7cd1'}
url = 'https://jdriven.workable.com/spi/v3/'
df_dict = {}
for key in key_list:
    df_dict[key]=[]
df_check, since_id, cand_id_list = get_cand_data(df_dict, key_list, url, headers, cand_id_list=None, start_id='', start_date='')
#df_dict_candidate_act = retrieve_activities(url, headers, cand_id_list)

In [10]:
df_check

{'id': ['ddb204',
  'ddb571',
  'ddb572',
  'ddb582',
  'ddb9ca',
  'ddbfa2',
  'ddf173',
  'ddf20e',
  'ddf485',
  'ddf4cd',
  'ddf4d2',
  'ddf7b4',
  'ddfcbd',
  'ddfe84',
  'de4088',
  'de4522',
  'de463d',
  'de47a3',
  'de489d',
  'de53cd',
  'de5bfa',
  'de5d64',
  'df6c94',
  'df77d7',
  'df78b9',
  'df87cf',
  'df8812',
  'dfaacc',
  'dfaf18',
  'e00269',
  'e01304',
  'e01384',
  'e03bca',
  'e096e5',
  'e11c35',
  'e12f8f',
  'e1cca6',
  'e23fde',
  'e27389',
  'e2d0e6',
  'e2d1ee',
  'e2d3f3',
  'e2d4ac',
  'e2d5c4',
  'e2d75b',
  'e2e573',
  'e3016e',
  'e36bc6',
  'e37c6f',
  'e3c572',
  'e48b5d',
  'e48ca1',
  'e48dcf',
  'e48e52',
  'e4f7dd',
  'e50701',
  'e51018',
  'e58576',
  'e5a36a',
  'e62144',
  'e625d1',
  'e626f8',
  'e638d2',
  'e66728',
  'e67a26',
  'e67b0f',
  'e67bb3',
  'e67d9a',
  'e6af5b',
  'e6bf82',
  'e6c2b9',
  'e6c31d',
  'e6c355',
  'e7d4fb',
  'e7e78e',
  'e7fb23',
  'e8132b',
  'e81351',
  'e86ad3',
  'e86bc0',
  'e875d1',
  'e88844',
  'e991c1',
  'e991e5',
  'e99a03',
  'e9a3af',
  'e9a3b0',
  'ea0e8f',
  'ea1045',
  'ea178d',
  'ea22b7',
  'eacf37',
  'eacfad',
  'eacfe0',
  'ead014',
  'ead061',
  'eb1555',
  'eb2cf8',
  'eb4afd',
  'ebb4b0'],
 'name': ['Niels Drost',
  'Paula L Amaral Santos',
  'Gulliver de Boer',
  'Pieter Kouyzer',
  'Profiel Van Aris Koning',
  'Casper Rooker',
  'Lennert Gijsen',
  'Serge Juchko',
  'Roel Theeuwen',
  'Hasan Kurt',
  'Bert de Vreugd',
  'Amin Ziarkash',
  'Almar Schouten',
  'Bastiaan Grisèl',
  'Thijs Immink',
  'Robin Dronkers',
  'Willem Ottenheijm',
  'Stefan Tol',
  'Sieb Van Keppel',
  'Contracten recruiters',
  'Jan Vries Lentsch',
  'Johannes Ransijn',
  'Erwin Van Eyk',
  'Coskun Dag',
  'Curriculum Vitae Kengyip Lee',
  'Yalda Mohammadian',
  'Matthijs Brouns',
  'Rutger de Graaf',
  'Shoaib Amini',
  'Veli Aydin',
  'Bram Neijt',
  'Tim van Grieken',
  'Dave Van Eijck',
  'Roy De Groot',
  'Mark Oost',
  'Uri Shimron',
  'Jeffrey Powell',
  'Bert Carsouw',
  'Marc Huls',
  'Pim Schellart',
  'Sander Kerkdijk',
  'Kia Eisinga',
  'Kaitlin Nadson',
  'Juan Adriaanse',
  'Mar Maykel Vink',
  'Lucas Maasse',
  'Benjamin Van Den Akker',
  'Dana Bˇalibanu',
  'Mark Vervuurt',
  'Pearl Roman',
  'Matthijs van der Kroon',
  'Anthony Potappel',
  'Sietse T. Au',
  'Joost Heijkoop',
  'Thierry Quirijn Mentzel',
  'Wibo Pipping',
  'Dimitri Pater',
  'Gerard Simons',
  'Ir Joost Van Veen',
  'Jeroen Vlek',
  'Ian FitzPatrick',
  'Hessel Miedema',
  'Fabian Voorter',
  'Front-End Developer',
  'Saskia Koldijk',
  'Roland De Boo',
  'Chris Blom',
  'Christopher Tunnell',
  'Rob Driessen',
  'Edward Brinkmann',
  'Jorrit Glastra',
  'Malcolm Halfhuid',
  'Wilco Koorn',
  'Abel Flos',
  'Misha Veldhoen',
  'frank kurstjens',
  'Dennis Bullee',
  'Niels Renard',
  'Jorden Schrama',
  'Charalampos Sarantopoulos',
  'Roel Nieuwenhuizen',
  'Anton Bossenbroek',
  'Boris Reuderink',
  'Sjoerd de Haan',
  'Laurens Koppenol',
  'Daniel Profiel',
  'Michel Capelle',
  'Simon van der Zon',
  'Julian Vos',
  'Jeroen Dalhuisen',
  'Rick Slangen',
  'Daan Debie',
  'Bart Jeukendrup',
  'Paul Bormans',
  'Michiel Moonen',
  'Karsten Meinster',
  'Hassane Barre',
  'Gebrekirstos G Gebremeskel',
  'Tim van Elteren',
  'Danielle McCool'],
 'firstname': ['Niels',
  'Paula L',
  'Gulliver',
  'Pieter',
  'Profiel Van Aris',
  'Casper',
  'Lennert',
  'Serge',
  'Roel',
  'Hasan',
  'Bert',
  'Amin',
  'Almar',
  'Bastiaan',
  'Thijs',
  'Robin',
  'Willem',
  'Tol',
  'Sieb Van',
  'Contracten',
  'Jan',
  'Johannes',
  'Erwin Van',
  'Dag',
  'Lee',
  'Yalda',
  'Matthijs',
  'Rutger',
  'Shoaib',
  'Veli',
  'Bram',
  'Tim Van',
  'Dave Van',
  'Roy De',
  'Mark',
  'Uri',
  'Jeffrey',
  'Bert',
  'Marc',
  'Pim',
  'Sander',
  'Kia',
  'Kaitlin',
  'Juan',
  'Mar',
  'Lucas',
  'Benjamin Van Den',
  'Dana',
  'Mark',
  'Pearl',
  'Matthijs Van Der',
  'Anthony',
  'Sietse T',
  'Joost',
  'Thierry',
  'Wibo',
  'Dimitri',
  'Gerard',
  'Ir Joost Van',
  'Jeroen',
  'Ian',
  'Hessel',
  'Fabian',
  'Front-End',
  'Saskia',
  'Roland De',
  'Chris',
  'Christopher',
  'Rob',
  'Edward',
  'Jorrit',
  'Malcolm',
  'Wilco',
  'Abel',
  'Misha',
  'Frank',
  'Dennis',
  'Niels',
  'Jorden',
  'Charalampos',
  'Roel',
  'Anton',
  'Boris',
  'Sjoerd',
  'Laurens',
  'Daniel',
  'Michel',
  'Simon',
  'Julian',
  'Jeroen',
  'Rick',
  'Daan',
  'Bart',
  'Paul',
  'Michiel',
  'Karsten',
  'Hassane',
  'Gebrekirstos G',
  'Tim',
  'Danielle'],
 'lastname': ['Drost',
  'Amaral Santos',
  'de Boer',
  'Kouyzer',
  'Koning',
  'Rooker',
  'Gijsen',
  'Juchko',
  'Theeuwen',
  'Kurt',
  'de Vreugd',
  'Ziarkash',
  'Schouten',
  'Grisèl',
  'Immink',
  'Dronkers',
  'Ottenheijm',
  'Stefan',
  'Keppel',
  'recruiters',
  'Vries Lentsch',
  'Ransijn',
  'Eyk',
  'Coskun',
  'Curriculum Vitae Kengyip',
  'Mohammadian',
  'Brouns',
  'de Graaf',
  'Amini',
  'Aydin',
  'Neijt',
  'Grieken',
  'Eijck',
  'Groot',
  'Oost',
  'Shimron',
  'Powell',
  'Carsouw',
  'Huls',
  'Schellart',
  'Kerkdijk',
  'Eisinga',
  'Nadson',
  'Adriaanse',
  'Maykel Vink',
  'Maasse',
  'Akker',
  'Bˇalibanu',
  'Vervuurt',
  'Roman',
  'Kroon',
  'Potappel',
  'Au',
  'Heijkoop',
  'Quirijn Mentzel',
  'Pipping',
  'Pater',
  'Simons',
  'Veen',
  'Vlek',
  'Fitzpatrick',
  'Miedema',
  'Voorter',
  'Developer',
  'Koldijk',
  'Boo',
  'Blom',
  'Tunnell',
  'Driessen',
  'Brinkmann',
  'Glastra',
  'Halfhuid',
  'Koorn',
  'Flos',
  'Veldhoen',
  'Kurstjens',
  'Bullee',
  'Renard',
  'Schrama',
  'Sarantopoulos',
  'Nieuwenhuizen',
  'Bossenbroek',
  'Reuderink',
  'de Haan',
  'Koppenol',
  'Profiel',
  'Capelle',
  'van der Zon',
  'Vos',
  'Dalhuisen',
  'Slangen',
  'Debie',
  'Jeukendrup',
  'Bormans',
  'Moonen',
  'Meinster',
  'Barre',
  'Gebremeskel',
  'van Elteren',
  'McCool'],
 'headline': [None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Software Developer at Qualogy',
  'Software Architect Frontend at Powerhouse Bv',
  'Data Science & Technology MSc student',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Web Analytics, Data Science and Social Psychology.',
  'Senior Developer at 42.nl',
  'Data Analytics Consultant & Data Science Analyst',
  None,
  'Senior data-analist at Coney',
  None,
  None,
  None,
  None,
  'Data Scientist @ Aneto BV Bunnink',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Senior Big Data / Java Consultant at Capgemini',
  None,
  'Data Scientist at RTL Nederland',
  'Big Data enthusiast at Vancis | Cloud | Software Defined * | Automation | Hadoop | OpenStack | Linux',
  'Software Engineer',
  'Software Consultant / Full Stack Developer at DHL',
  None,
  None,
  None,
  'Data Scientist at Qualogy',
  'gpa',
  'Anchormen',
  'Post Doctoral researcher: Neuroscience of language and bilingualism',
  None,
  None,
  None,
  'Cognitive Artificial Intelligence Expert bij Sense Health BV',
  'Software Architect | Java, Cloud, Sensor Networks, Event Processing',
  'Software Engineer at ADGOJI',
  'Physicist and founder Snooty Analytics',
  None,
  None,
  'Senior Reservoir Engineer',
  'Business Intelligence Consultant',
  'Lead developer / Senior Agile Consultant',
  None,
  'Scientific Software Engineer and Data Scientist',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Machine Learning Consultant at Cortext',
  'Machine learning devoper at ING',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Freelance Software Engineer / Data Engineer / Firestarter at Joy in Coding',
  'Founder at Infty - Data scientist, software architect',
  'oce technologies',
  None,
  'Mission Critical Engineer @ Schuberg Philis',
  None,
  None,
  None,
  None],
 'subdomain': ['jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven',
  'jdriven'],
 'shortcode': ['A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '9882E4C0EA',
  'A8C5321F60',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '9882E4C0EA',
  '9882E4C0EA',
  'A8C5321F60',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '46F9A9BEBD',
  'A8C5321F60',
  'F2E5FDE7A5',
  'F2E5FDE7A5',
  'A8C5321F60',
  '46F9A9BEBD',
  'F2E5FDE7A5',
  'A8C5321F60',
  '9882E4C0EA',
  'A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  '46F9A9BEBD',
  '9882E4C0EA',
  'F2E5FDE7A5',
  'A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  '9882E4C0EA',
  'F2E5FDE7A5',
  '46F9A9BEBD',
  'A8C5321F60',
  'A8C5321F60',
  'F2E5FDE7A5',
  '46F9A9BEBD',
  'F2E5FDE7A5',
  'F17EA1F924',
  'F17EA1F924',
  'F2E5FDE7A5',
  'F2E5FDE7A5',
  'A8C5321F60',
  'F2E5FDE7A5',
  'F2E5FDE7A5',
  'A8C5321F60',
  'F2E5FDE7A5',
  'A8C5321F60',
  'F17EA1F924',
  '8176464B66',
  '8176464B66',
  'A8C5321F60',
  'F17EA1F924',
  'F2E5FDE7A5',
  'A8C5321F60',
  '46F9A9BEBD',
  '46F9A9BEBD',
  'A8C5321F60',
  'A8C5321F60',
  'F2E5FDE7A5',
  'A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  '46F9A9BEBD',
  '46F9A9BEBD',
  '9882E4C0EA',
  'A8C5321F60',
  '46F9A9BEBD',
  'A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  'A8C5321F60',
  'F2E5FDE7A5',
  'F2E5FDE7A5',
  'A8C5321F60',
  '46F9A9BEBD',
  'A8C5321F60',
  'A8C5321F60',
  'F17EA1F924',
  'A8C5321F60',
  'F2E5FDE7A5',
  'F2E5FDE7A5',
  'F17EA1F924',
  '46F9A9BEBD',
  'F2E5FDE7A5',
  'F2E5FDE7A5',
  'A8C5321F60'],
 'title': ['Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Java Developer (JDriven)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Java Developer (JDriven)',
  'Java Developer (JDriven)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Big Data Scientist (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Java Developer (JDriven)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Java Developer (JDriven)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Java Developer (JDriven)',
  'Big Data Engineer (BDR)',
  'Jr. Java Developer (JCore)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Engineer (BDR)',
  'Jr. Java Developer (JCore)',
  'Big Data Engineer (BDR)',
  'Big Data Architect',
  'Big Data Architect',
  'Big Data Engineer (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Architect',
  'Front-End Developer (Divotion)',
  'Front-End Developer (Divotion)',
  'Big Data Scientist (BDR)',
  'Big Data Architect',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Jr. Java Developer (JCore)',
  'Java Developer (JDriven)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)',
  'Jr. Java Developer (JCore)',
  'Big Data Scientist (BDR)',
  'Big Data Scientist (BDR)',
  'Big Data Architect',
  'Big Data Scientist (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Architect',
  'Jr. Java Developer (JCore)',
  'Big Data Engineer (BDR)',
  'Big Data Engineer (BDR)',
  'Big Data Scientist (BDR)'],
 'stage': ['1st Interview',
  'Hired',
  '2nd Interview',
  'Talentpool',
  '2nd Interview',
  'Hired',
  'Hired',
  'Talentpool',
  'Talentpool',
  '1st Interview',
  'Talentpool',
  '2nd Interview',
  'Talentpool',
  'Talentpool',
  '1st Interview',
  'Sourced',
  'Sourced',
  'Sourced',
  'To schedule',
  'Talentpool',
  'Review',
  '1st Interview',
  'Talentpool',
  'Sourced',
  'Review',
  'Sourced',
  '1st Interview',
  'To schedule',
  '1st Interview',
  'Sourced',
  'Hired',
  'Sourced',
  'To schedule',
  'Review',
  'Review',
  'Applied',
  '2nd Interview',
  'Sourced',
  '1st Interview',
  'Shortlisted',
  'Talentpool',
  'Review',
  'Sourced',
  'To schedule',
  'Review',
  '1st Interview',
  '1st Interview',
  'Talentpool',
  'Applied',
  '1st Interview',
  'Applied',
  'Sourced',
  'Applied',
  'Applied',
  'Sourced',
  'Sourced',
  'Review',
  '1st Interview',
  '1st Interview',
  'Applied',
  'Talentpool',
  'Talentpool',
  'Talentpool',
  'To schedule',
  'Applied',
  'Applied',
  'Shortlisted',
  'Applied',
  'Sourced',
  '1st Interview',
  '1st Interview',
  'Sourced',
  'Talentpool',
  'Sourced',
  'Applied',
  'Applied',
  'Review',
  'Talentpool',
  'Talentpool',
  'Sourced',
  '1st Interview',
  'Talentpool',
  'Applied',
  'Talentpool',
  '1st Interview',
  'Sourced',
  'Review',
  'Talentpool',
  'Review',
  'Review',
  'Review',
  'Applied',
  'Applied',
  'Review',
  'Applied',
  'Applied',
  'Sourced',
  'Review',
  '1st Interview',
  'Review'],
 'disqualified': [True,
  False,
  True,
  False,
  True,
  False,
  False,
  True,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  True,
  True,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  True,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  True,
  False,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  False,
  False,
  True,
  True,
  False,
  False,
  True,
  True,
  True,
  False,
  True,
  True,
  True,
  True,
  False,
  True,
  True,
  False,
  True,
  True,
  True,
  True],
 'disqualification_reason': [None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 'hired_at': [None,
  '2016-10-14T10:04:42Z',
  None,
  None,
  None,
  '2016-09-23T14:20:02Z',
  '2016-09-29T08:28:40Z',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  '2016-10-04T11:02:37Z',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 'sourced': [True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True],
 'profile_url': ['https://jdriven.workable.com/backend/jobs/329280/candidates/14527794',
  'https://jdriven.workable.com/backend/jobs/329280/candidates/14528671',
  'https://jdriven.workable.com/backend/jobs/329280/candidates/14528672',
  'https://jdriven.workable.com/backend/jobs/329280/candidates/14528688',
  'https://jdriven.workable.com/backend/jobs/329280/candidates/14529784',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14531280',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14544033',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14544188',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14544819',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14544891',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14544896',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14545634',
  'https://jdriven.workable.com/backend/jobs/331510/candidates/14546923',
  'https://jdriven.workable.com/backend/jobs/329280/candidates/14547378',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14564278',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14565456',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14565739',
  'https://jdriven.workable.com/backend/jobs/331519/candidates/14566097',

In [ ]:
df_dict_candidate_act

In [ ]:
df_use = create_df(df_dict_candidate_act)

In [ ]:
df_use

In [ ]:
a = df_use['id'][(df_use['Inplannen 1e gesorek'].notnull())]
b = df_use['id'][(df_use['Inplannen 1e gesorek'].notnull()==True)]
#df_dict_candidate_act['id'][df_dict_candidate_act['Inplannen 1e gesorek'].isnull()]
#df_dict_candidate_act['To schedule'][(df_dict_candidate_act['Inplannen 1e gesorek'].isnull()==False)]
#df['To schedule'][(df['Inplannen 1e gesorek'].isnull()==False) & (df['To schedule'].isnull()==True)]=df['Inplannen 1e gesorek'][(df['Inplannen 1e gesorek'].isnull()==False) & (df['To schedule'].isnull()==True)]

In [ ]:
b

In [ ]:
c = (a==b)

In [ ]:
c.value_counts()

In [ ]:
df_use.columns

In [ ]:
df_transformed = transform_df(df_use)

In [ ]:
df_transformed

In [ ]:
pd.isnull(df_dict_candidate_act['Inplannen 1e gesorek'])

In [ ]:
#a = [1,2,3,4,5]
a = []
if a:
    print('yes')

In [ ]:
a = 'a'
if a:
    print('yes')

In [ ]:
df_to_use = db_to_df(pw='maartens1991', db_name="candidates2", user='root', host='127.0.0.1', port='', database='recruitment_dashboard')

In [ ]:
df_dict_to_use = {}
for key in key_list:
    df_dict_to_use[key]=[]

In [ ]:
headers={'Authorization': 'Bearer 229aa3876e4fc4447460a13da7f57d1be4111202e1d56d4d0231fb932c1e7cd1'}
url = 'https://jdriven.workable.com/spi/v3/'
get_cand_data(df_dict_to_use, key_list, url, headers, cand_id_list=None, start_id='', start_date='')

In [ ]:
b = 'hello'
x = False
if b == 'hello' and not x:
    print('True')

In [ ]:
def retrieve_activities(url, headers, cand_id_list):
    '''
    Function to create candidate activity dictionary
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''
    # Create DataFrame column labels
    df_dict_cand = {}
    key_list_cand = ['id','tags']
    stage_name_list = [
        'Sourced',
        'Applied',
        'Shortlisted',
        'Talentpool',
        'Review',
        'To schedule',
        'Inplannen 1e gesorek', #not in use anymore --> combine with 'To Schedule' --> delete
        'Inplannen 1e gesprek', #not in use anymore --> combine with 'To Schedule' --> delete
        'inplannen 2e gesprek', #not in use anymore --> combine with '1st Interview' --> delete
        '1st Interview',
        '1e gesprek', #not in use anymore --> combine with '1st Interview' --> delete
        'Interview 1', #not in use anymore --> combine with '1st Interview' --> delete
        '2nd Interview', 
        'Interview 2', #not in use anymore --> combine with '2nd Interview' --> delete
        'Assessment', #not in use anymore --> combine with '2nd Interview' --> delete
        '2e gesprek', #not in use anymore --> combine with '2nd Interview' --> delete
        'Offer',
        'Aanbieding', #not in use anymore --> combine with 'Offer' --> delete
        'Hired',
        'Aangenomen', #not in use anymore --> combine with 'Hired' --> delete
        'Test Fase', #not in use anymore --> delete
        'intern evalueren', #not in use anymore --> delete
        'Plan 1', #not in use anymore --> delete
        'Plan 2', #not in use anymore --> delete
        'Vergaarbak' #not in use anymore --> delete
    ]

    #Add labels to dictionary
    for key in key_list_cand:
        df_dict_cand[key]=[]    
    for key in stage_name_list:
        df_dict_cand[key]=[]
    df_dict_cand['disqualified_at']=[]

    #Retrieve data through API
    section = 'candidates/'

    for cand_id in cand_id_list:
        r_cand_id = requests.get(url+section+cand_id+'.json', headers=headers)
        time.sleep(1.0)
        for k in key_list_cand:
            loc = locate_element(r_cand_id.json()['candidate'],k)
            v = r_cand_id.json()['candidate']
            for i in loc:
                v = v[i]
            df_dict_cand[k].append(v)

        # loop through activities for candidate cand_id
        r_cand_id_act = requests.get(url+section+cand_id+'/activities'+'.json', headers=headers)
        r_cand_id_act=r_cand_id_act.json()['activities']
        time.sleep(1.0)
        stages = deepcopy(stage_name_list)
        disqualified=False
        for act in r_cand_id_act:
            if act['action']=='disqualified' and not disqualified:
                df_dict_cand['disqualified_at'].append(act['created_at'])
                disqualified=True
            if act['stage_name'] in stage_name_list:
                if act['stage_name'] not in stages:
                    continue
                else:
                    df_dict_cand[act['stage_name']].append(act['created_at'])
                    stages.remove(act['stage_name'])
        if disqualified==False:
            df_dict_cand['disqualified_at'].append(np.nan)
        for remaining_stage in stages:
            df_dict_cand[remaining_stage].append(np.nan)         
        time.sleep(0.5)
    return df_dict_cand

In [ ]:
def create_df(dictionary):
    '''
    Convert dictionary into pandas DataFrame
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''
    df = pd.DataFrame.from_dict(dictionary, orient='columns')
    return df

In [ ]:
def merge_df(df1, df2, how='left', on=['id']):
    '''
    Function to create candidate activity dictionary
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    DataFrame containing the same candidate data as the input
    '''    
    df = pd.merge(df1, df2, how=how, on=on)
    return df

In [ ]:
def transform_df(df):
    '''
    Function to transform DataFrame
    Inputs:
    
    df_dict: dictionary containing candidate data
    Outputs:
    
    '''
    #Rename duplicate column name to prevent error when creating SQL database
    df=df.rename(columns = {'sourced':'is_sourced'})
    
    #Replace and Delete columns
    df['To schedule'][(df['Inplannen 1e gesorek'].notnull()) & (df['To schedule'].isnull())]=df['Inplannen 1e gesorek'][(df['Inplannen 1e gesorek'].notnull()) & (df['To schedule'].isnull())]
    df.drop('Inplannen 1e gesorek',axis=1,inplace = True)
    df['To schedule'][(df['Inplannen 1e gesprek'].notnull()) & (df['To schedule'].isnull())]=df['Inplannen 1e gesprek'][(df['Inplannen 1e gesprek'].notnull()) & (df['To schedule'].isnull())]
    df.drop('Inplannen 1e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['inplannen 2e gesprek'].notnull()) & (df['1st Interview'].isnull())]=df['inplannen 2e gesprek'][(df['inplannen 2e gesprek'].notnull()) & (df['1st Interview'].isnull())]
    df.drop('inplannen 2e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['1e gesprek'].notnull()) & (df['1st Interview'].isnull())]=df['1e gesprek'][(df['1e gesprek'].notnull()) & (df['1st Interview'].isnull())]
    df.drop('1e gesprek',axis=1,inplace = True)
    df['1st Interview'][(df['Interview 1'].notnull()) & (df['1st Interview'].isnull())]=df['Interview 1'][(df['Interview 1'].notnull()) & (df['1st Interview'].isnull())]
    df.drop('Interview 1',axis=1,inplace = True)
    df['2nd Interview'][(df['Interview 2'].notnull()) & (df['2nd Interview'].isnull())]=df['Interview 2'][(df['Interview 2'].notnull()) & (df['2nd Interview'].isnull())]
    df.drop('Interview 2',axis=1,inplace = True)
    df['2nd Interview'][(df['Assessment'].notnull()) & (df['2nd Interview'].isnull())]=df['Assessment'][(df['Assessment'].notnull()) & (df['2nd Interview'].isnull())]
    df.drop('Assessment',axis=1,inplace = True)
    df['2nd Interview'][(df['2e gesprek'].notnull()) & (df['2nd Interview'].isnull())]=df['2e gesprek'][(df['2e gesprek'].notnull()) & (df['2nd Interview'].isnull())]
    df.drop('2e gesprek',axis=1,inplace = True)
    df['Offer'][(df['Aanbieding'].notnull()) & (df['Offer'].isnull())]=df['Aanbieding'][(df['Aanbieding'].notnull()) & (df['Offer'].isnull())]
    df.drop('Aanbieding',axis=1,inplace = True)

    df['Hired'][(df['Aangenomen'].notnull()) & (df['Hired'].isnull())]=df['Aangenomen'][(df['Aangenomen'].notnull()) & (df['Hired'].isnull())]
    df.drop('Aangenomen',axis=1,inplace = True)

    # Delete Columns
    df.drop('Test Fase',axis=1,inplace = True)
    df.drop('intern evalueren',axis=1,inplace = True)
    df.drop('Plan 1',axis=1,inplace = True)
    df.drop('Plan 2',axis=1,inplace = True)
    df.drop('Vergaarbak',axis=1,inplace = True)

    #Remove only for now (will be used for source of candidate)
    df.drop('tags',axis=1,inplace = True)

    #Replace np.nan with None, as None is accepted if df is written to a DB using df.to_sql
    #Note that None will only be converted to NULL in SQL if df.to_sql is used, not using executemany
    #NaT is converted as None if using to_sql
    df = df.where((pd.notnull(df)), None)

    #Convert None to 'nan' if getting errors when inserting into MySQL DB
    #df.fillna(value='nan', inplace=True)

    #Convert date columns into DATE columns with specified format
    date_cols = [
            'hired_at',
            'Sourced',
            'Applied',
            'Shortlisted',
            'Talentpool',
            'Review',
            'To schedule',
            '1st Interview',
            '2nd Interview',
            'Offer',
            'Hired',
            'disqualified_at'
    ]
    for date_col in date_cols:
        df[date_col]=pd.to_datetime(pd.to_datetime(df[date_col]).dt.strftime('%Y-%m-%d'))
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col]=df[col].str.encode('ascii', 'ignore').str.decode('ascii')
            df[col][df[col].notnull()]=df[col][df[col].notnull()].apply(lambda x: x.lower())    
    return df

In [ ]:
df_db = db_to_df(pw='maartens1991',db_name="candidates2",user='root',host='127.0.0.1',port='',database='recruitment_dashboard')

In [ ]:
df_db

In [ ]:
df_use = transform_df(df_db)

In [6]:
def df_to_db(df, pw, db_name='candidates', user='root:', host='localhost', port='', schema='recruitment_dashboard'):
    '''
    Function to write DataFrame to MySQL DB
    Inputs:
    df: DataFrame containing all candidate data
    db_name: Name of the to be created MySQL DB (default is 'candidates2')
    user: user name of db (default is 'root')
    pw: password of database
    host = 'localhost' if connecting to local DB
    host = '<IP address of DB>' if connecting to a DB hosted externally
    port: port (default is no port specified). Format is: ':<port>'
    schema: database schema name
    
    Outputs:
    Populated MySQL Database
    '''
    engine = create_engine('mysql+pymysql://'+user+pw+'@'+host+port+'/'+schema, echo = False)
    df.to_sql(name = db_name, con = engine, if_exists = 'append', index = False)

In [7]:
df_db = db_to_df(pw='maartens1991',db_name="candidates2",user='root',host='127.0.0.1',port='',database='recruitment_dashboard')
df_to_db(df=df_db, pw='maartens1991', db_name='test', user='root:', host='localhost', port='', schema='recruitment_dashboard')

In [4]:
def db_to_df(pw, db_name="candidates", user='root', host='127.0.0.1', port='', database='recruitment_dashboard'):
    '''
    Function to convert MySQL DB to DataFrame
    Inputs:
    db_name: Name of the to be created MySQL DB (default is 'candidates2')
    user: user name of db (default is 'root')
    pw: password of database
    host = '127.0.0.1' if connecting to local DB
    host = '<IP address of DB>' if connecting to a DB hosted externally
    port: port (default is no port specified). Format is: ':<port>'
    database: database schema name
    
    Outputs:
    Populated MySQL Database
    '''
    conn = mysql.connector.connect(user=user, password=pw,host=host, database=database)
    df = pd.read_sql("SELECT * from "+db_name, conn)
    return df

In [ ]:
def retrieve_funnel(df, start_year=2014, start_month=1, start_day=1, end_year=2017, end_month=1, end_day=1):
    '''
    Function to retrieve interview process funnel for specified time frame
    Inputs:
    df: DataFrame containing info about all candidates
    start_date
    end_date

    
    Outputs:
    funnel_dict: dictionary containing the number of candidates in each funnel stage for specified time frame
    '''
    start_date = datetime.datetime(start_year, start_month, start_day)
    end_date = datetime.datetime(end_year, end_month, end_day)

    funnel_stages = [
            'Sourced',
            'Applied',
            'Shortlisted',
            'Talentpool',
            'Review',
            'To schedule',
            '1st Interview',
            '2nd Interview',
            'Offer',
            'Hired',
            'disqualified_at'
    ]
    funnel_dict={}
    for funnel in funnel_stages:
        funnel_dict[funnel]=df[funnel][(df[funnel]>start_date) & (df[funnel]<=end_date)].count()
    return funnel_dict

In [ ]:
import matplotlib.pyplot as plt

def plot_funnel(pw, db_name="candidates", user='root', host='127.0.0.1', port='', database='recruitment_dashboard', start_year=2014, start_month=1, start_day=1, end_year=2017, end_month=1, end_day=1):
    df = db_to_df(pw, db_name, user, host, port, database)
    funnel_dict=retrieve_funnel(df,start_year, start_month, start_day, end_year, end_month, end_day)
    plt.figure(figsize=(12, 12), dpi=80) # figsize=(width,height)
    plt.bar(range(len(funnel_dict)), list(funnel_dict.values()), align='center')
    plt.xticks(range(len(funnel_dict)), list(funnel_dict.keys()))
    plt.show()

In [ ]:
def create_db(pw, url, headers, key_list, db_name="candidates", user='root', host='127.0.0.1', port='', database='recruitment_dashboard', start_date=''):
    first_api_id = requests.get(url+'candidates'+'.json', headers=headers).json()['candidates'][0]['id']
    # Create empty df_dict
    df_dict={}
    for key in key_list:
        df_dict[key]=[]
    df_dict, since_id, cand_id_list = get_cand_data(df_dict, key_list, url, headers, cand_id_list=[], start_id=first_api_id, start_date=start_date)
    while since_id!=None:
        df_dict, since_id, cand_id_list = get_cand_data(df_dict, key_list, url, headers, cand_id_list=cand_id_list, start_id=since_id, start_date=start_date)
        time.sleep(2.0) 
    if cand_id_list!=[]:
        df_dict_cand=retrieve_activities(url,headers,cand_id_list)
        df_cand=create_df(df_dict)
        df_act=create_df(df_dict_cand)
        df_comb=merge_df(df_cand,df_act,how='left', on=['id'])
        df_comb=transform_df(df_comb)
        df_to_db(df_comb,pw,db_name,user+':',host,port,schema=database)

In [ ]:
def update_db(pw, url, headers, key_list, db_name="candidates", user='root', host='127.0.0.1', port='', database='recruitment_dashboard',start_date=''):    
    last_db_id = retrieve_last_db_entry(pw, db_name, user, host, port, database)
    # Create empty df_dict
    df_dict={}
    for key in key_list:
        df_dict[key]=[]
    df_dict, since_id, cand_id_list = get_cand_data(df_dict, key_list, url, headers, cand_id_list=[], start_id=last_db_id, start_date=start_date)
    while since_id!=None:
        df_dict, since_id, cand_id_list = get_cand_data(df_dict, url, headers, cand_id_list=cand_id_list, start_id=since_id, start_date=start_date)
        time.sleep(2.0)
    #Remove first item in cand_id_list to avoid duplicate of the last_db_id
    cand_id_list.remove(last_db_id)
    #Remove first item in all the keys in df_dict to avoid duplicate of the last_db_id
    for key in df_dict.keys():
        df_dict[key].pop(0)
    if cand_id_list!=[]:
        df_dict_cand=retrieve_activities(url,headers,cand_id_list)
        df_cand=create_df(df_dict)
        df_act=create_df(df_dict_cand)
        df_comb=merge_df(df_cand,df_act,how='left', on=['id'])
        df_comb=transform_df(df_comb)
        df_to_db(df_comb,pw,db_name,user+':',host,port,schema=database)

In [ ]:
last_api_entry(url,headers)

In [ ]:
#create_db(pw='maartens1991',db_name="candidates2",user='root',host='127.0.0.1',port='',database='recruitment_dashboard',start_date='')

In [ ]:
df_db

In [ ]:
#update_db()

In [ ]:
import dateutil.relativedelta

def retrieve_funnel_L4M(df):
    '''
    Function to retrieve interview process funnel for specified time frame
    Inputs:
    df: DataFrame containing info about all candidates
    start_date
    end_date

    
    Outputs:
    funnel_dict: dictionary containing the number of candidates in each funnel stage for specified time frame
    '''
    funnel_stages = [
            #'Sourced',
            #'Applied',
            #'Shortlisted',
            #'Talentpool',
            'Review',
            #'To schedule',
            '1st Interview',
            '2nd Interview',
            #'Offer',
            'Hired',
            #'disqualified_at'
    ]

    #Create empty funnel_dict containing all funnel stages
    funnel_dict={}
    for funnel in funnel_stages:
        funnel_dict[funnel]=[]
    
    #Populate funnel_dict
    periods = [1,2,3,4]
    for funnel in funnel_stages:
        for period in reversed(periods):
            end_date = datetime.datetime.today() - dateutil.relativedelta.relativedelta(months=(1*period)-1)
            start_date = datetime.datetime.today() - dateutil.relativedelta.relativedelta(months=1*period)
            funnel_dict[funnel].append(df[funnel][(df[funnel]>start_date) & (df[funnel]<=end_date)].count())
    return funnel_dict

In [ ]:
retrieve_funnel_L4M(df_db)

In [ ]:
retrieve_funnel(df_db,start_year=2019, start_month=8, start_day=7, end_year=2019, end_month=9, end_day=7)

In [ ]:
start_date = datetime.datetime.today() - dateutil.relativedelta.relativedelta(months=1)
end_date = datetime.datetime.today() - dateutil.relativedelta.relativedelta(months=0)
df_db['name'][(df_db['2nd Interview']>start_date) & (df_db['2nd Interview']<=end_date)]

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

#Get data
funnel_dict = retrieve_funnel_L4M(df_db)

labels = ['M-3', 'M-2', 'M-1', 'M0']
review = funnel_dict['Review']
first_interview = funnel_dict['1st Interview']
second_interview = funnel_dict['2nd Interview']
hired = funnel_dict['Hired']

x = np.arange(len(labels))  # the label locations
width = 0.2  # the width of the bars

fig, ax = plt.subplots(figsize = (14,8))
#figure(figsize=(18, 10), dpi=80) # figsize=(width,height)
rects1 = ax.bar(x - 1.5*width, review, width, color=plt.cm.tab20c(0), label='Reviews')
rects2 = ax.bar(x - 1/2*width, first_interview, width, color=plt.cm.tab20c(1),label='Succesful Reviews')
rects3 = ax.bar(x + 1/2*width, second_interview, width, color=plt.cm.tab20c(2),label='Succesful 1st Interviews')
rects4 = ax.bar(x + 1.5*width, hired, width, color=plt.cm.tab20c(3),label='Succesful 2nd Interviews')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('# Candidates',fontweight='bold')
ax.set_title('Recruitment Funnel: #Candidates by Month and Funnel Stage')
ax.set_xticks(x)
ax.set_xlabel('Month', fontweight='bold')
ax.set_xticklabels(labels)
ax.legend()

def autolabel(rects):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom')


autolabel(rects1)
autolabel(rects2)
autolabel(rects3)
autolabel(rects4)

fig.tight_layout()

plt.show()

In [ ]:
plot_funnel(pw='maartens1991',db_name="candidates2",user='root',host='127.0.0.1',port='',database='recruitment_dashboard',start_year=2019, start_month=7, start_day=6, end_year=2019, end_month=10, end_day=6)

In [ ]:
a = [1]

In [ ]:
if a:
    print('yes')
else:
    print('no')

In [ ]:
#Write to Google Cloud DB
engine_cloud = create_engine('mysql+pymysql://root:MjB6KtDfI4pkzKr9@34.90.224.97/recruitment', echo = False)
df_comb.to_sql(name = 'candidates2', con = engine_cloud, if_exists = 'append', index = False)

In [ ]:
# Local DB

try:
    conn = mysql.connector.connect(user='root', password='maartens1991',host='127.0.0.1', database='recruitment_dashboard')
    cursor = conn.cursor()

    # Create table REPLACE WITH CODE BELOW TO MAKE QUERY STATEMENT AND THEN EXECUTE
    # Create sql_create_table_query = ... columns and data type
    col_dtype = []
    for col in df_comb.columns.tolist():
        col_dtype.append(col+' '+str(df_comb[col].dtype))
    
    #Replace objects with TEXT as object is not a data type that can be parsed into CREATE TABLE statement
    #Remove spaces in column name, replace with underscore
    #Rename sourced to is_sourced
    col_dtype = [s.replace('sourced', 'is_sourced') for s in col_dtype]
    col_dtype = [s.replace('To schedule', 'To_schedule') for s in col_dtype]
    col_dtype = [s.replace('1st Interview', '1st_Interview') for s in col_dtype]
    col_dtype = [s.replace('2nd Interview', '2nd_Interview') for s in col_dtype]
    col_dtype = [s.replace('object', 'TEXT') for s in col_dtype]
    col_dtype = [s.replace('<M8[ns]', 'DATE') for s in col_dtype]
    #if column data type is DATE, then dates have to be in the following format (as a string): YYYY-MM-DD
    # All values in column have to be in this format, it does not take a string like 'nan'
    # MySQL does accept NULL (not as a string, just as NULL)
    table_col = ','.join(col_dtype)
    
    sql_create_table_query = """CREATE TABLE candidates (%s)"""%(table_col)
    cursor.execute(sql_create_table_query)
    
    # Save (commit) the changes
    conn.commit()

    # Select column names in order from 1st to last column
    sql_select_query = '''SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'recruitment_dashboard'
    AND table_name   = 'candidates'
    ORDER BY ORDINAL_POSITION
    '''

    cursor = conn.cursor()
    cursor.execute(sql_select_query)
    records = cursor.fetchall() 
    columns = []
    for i in records:
        columns.append(i[0])
    col_n = ','.join(columns)

    #Records to insert in SQL table
    records_to_insert = list(df_comb.itertuples(index=False, name=None))
    params = ['%s' for item in records_to_insert[0]] # always use '%s' no matter the data type of the column
    var_string = ','.join(params)

    #Insert all records into table
    sql_insert_query = """INSERT INTO candidates (%s) VALUES (%s);""" %(col_n,var_string)
    cursor = conn.cursor()
    cursor.executemany(sql_insert_query, records_to_insert)
    
    #Commit all changes
    conn.commit()

except (Exception, mysql.connector.Error) as error:
    print ("Error while connecting to SQL DB", error)
finally:
    #Closing database connection
    if(conn):
        cursor.close()
        conn.close()
        print("SQL DB connection is closed")

In [ ]:
# Google Database

try:
    conn = mysql.connector.connect(user='root', password='MjB6KtDfI4pkzKr9',host='34.90.224.97', database='recruitment')
    cursor = conn.cursor()

    # Create table REPLACE WITH CODE BELOW TO MAKE QUERY STATEMENT AND THEN EXECUTE
    # Create sql_create_table_query = ... columns and data type
    col_dtype = []
    for col in df_comb.columns.tolist():
        col_dtype.append(col+' '+str(df_comb[col].dtype))
    
    #Replace objects with TEXT as object is not a data type that can be parsed into CREATE TABLE statement
    #Remove spaces in column name, replace with underscore
    #Rename sourced to is_sourced
    col_dtype = [s.replace('sourced', 'is_sourced') for s in col_dtype]
    col_dtype = [s.replace('To schedule', 'To_schedule') for s in col_dtype]
    col_dtype = [s.replace('1st Interview', '1st_Interview') for s in col_dtype]
    col_dtype = [s.replace('2nd Interview', '2nd_Interview') for s in col_dtype]
    col_dtype = [s.replace('object', 'TEXT') for s in col_dtype]
    table_col = ','.join(col_dtype)
    
    sql_create_table_query = """CREATE TABLE candidates (%s)"""%(table_col)
    cursor.execute(sql_create_table_query)
    
    # Save (commit) the changes
    conn.commit()

    # Select column names in order from 1st to last column
    sql_select_query = '''SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'recruitment_dashboard'
    AND table_name   = 'candidates'
    ORDER BY ORDINAL_POSITION
    '''

    cursor = conn.cursor()
    cursor.execute(sql_select_query)
    records = cursor.fetchall() 
    columns = []
    for i in records:
        columns.append(i[0])
    col_n = ','.join(columns)

    #Records to insert in SQL table
    records_to_insert = list(df_comb.itertuples(index=False, name=None))
    params = ['%s' for item in records_to_insert[0]] # always use '%s' no matter the data type of the column
    var_string = ','.join(params)

    #Insert all records into table
    sql_insert_query = """INSERT INTO candidates (%s) VALUES (%s);""" %(col_n,var_string)
    cursor = conn.cursor()
    cursor.executemany(sql_insert_query, records_to_insert)
    
    #Commit all changes
    conn.commit()

except (Exception, mysql.connector.Error) as error:
    print ("Error while connecting to SQL DB", error)
finally:
    #Closing database connection
    if(conn):
        cursor.close()
        conn.close()
        print("SQL DB connection is closed")

In [ ]:
requests.get(url+'candidates'+'.json', headers=headers).json()

In [34]:
headers={'Authorization': 'Bearer 229aa3876e4fc4447460a13da7f57d1be4111202e1d56d4d0231fb932c1e7cd1'}
url = 'https://jdriven.workable.com/spi/v3/'
requests.get(url+'candidates/491fdff'+'.json', headers=headers).json()

{'candidate': {'id': '491fdff',
  'name': 'Niels Theunissen',
  'firstname': 'Niels',
  'lastname': 'Theunissen',
  'headline': None,
  'image_url': 'https://dvz3vrza543jw.cloudfront.net/uploads/137223/329280/76675373/image/805e79c2-228b-43c8-9250-eb7dcbbd550b.png',
  'account': {'subdomain': 'jdriven',
   'name': 'JDriven/JCore/BigData Republic'},
  'job': {'shortcode': 'A8C5321F60', 'title': 'Big Data Scientist (BDR)'},
  'stage': 'Review',
  'disqualified': False,
  'disqualified_at': None,
  'disqualification_reason': None,
  'hired_at': None,
  'sourced': True,
  'profile_url': 'https://jdriven.workable.com/backend/jobs/329280/candidates/76675373',
  'address': None,
  'phone': '(+31) (0)6 41 97 97 98',
  'email': 'n.p.theunissen@gmail.com',
  'outbound_mailbox': '4f38l2iro2h1@outbound.workablemail.com',
  'domain': 'Wenham International',
  'uploader_id': 'a132a',
  'created_at': '2019-10-07T07:55:02Z',
  'updated_at': '2019-10-10T12:27:41Z',
  'cover_letter': None,
  'summary': None,
  'education_entries': [],
  'experience_entries': [],
  'skills': [],
  'answers': [],
  'resume_url': 'https://workablehr.s3.amazonaws.com/uploads/137223/329280/76675373/download/CURRICULUM_VITAE_Niels_Theunissen_sept_2019__1_.pdf?X-Amz-Expires=60000&X-Amz-Date=20191010T144304Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIR2MIE33PRKXR4CA%2F20191010%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=8417913b150b1cd1c3b6f3030afeeed724198d340e7bff104f5358fd9001ac7d',
  'social_profiles': [{'type': 'gravatar',
    'name': 'Gravatar',
    'username': 'nielstheun',
    'url': 'http://en.gravatar.com/nielstheun'}],
  'tags': ['week41_2019', 'wenham_carter_internation']}}

In [14]:
r = requests.get(url+'candidates/422cf23'+'.json', headers=headers)

In [15]:
r.headers['x-rate-limit-limit']

{'Date': 'Fri, 11 Oct 2019 09:07:02 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Set-Cookie': '__cfduid=d143244c36b73a110797ed4a709d35c8c1570784822; expires=Sat, 10-Oct-20 09:07:02 GMT; path=/; domain=.workable.com; HttpOnly; Secure', 'x-frame-options': 'SAMEORIGIN', 'x-xss-protection': '1; mode=block', 'x-content-type-options': 'nosniff', 'x-download-options': 'noopen', 'x-permitted-cross-domain-policies': 'none', 'referrer-policy': 'strict-origin-when-cross-origin', 'vary': 'User-Agent', 'x-rate-limit-limit': '10', 'x-rate-limit-remaining': '9', 'x-rate-limit-reset': '1570784832', 'etag': 'W/"5bd2828f0b8d8cf03011cbcedb214264"', 'cache-control': 'max-age=0, private, must-revalidate', 'x-request-id': 'f0c81113-8665-4865-a01b-f424891e723e', 'x-runtime': '0.067653', 'x-envoy-upstream-service-time': '72', 'CF-Cache-Status': 'DYNAMIC', 'Strict-Transport-Security': 'max-age=15552000; includeSubDomains', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '523fae74c8f1c781-AMS', 'Content-Encoding': 'gzip'}

In [ ]:
section = 'candidates?'
start_date = '2010-01-01T10:10:10Z'
r_cand = requests.get(url+section+'limit=100&created_after='+start_date+'.json', headers=headers)

In [ ]:
r_cand.json()

In [ ]:
#requests.get(url+'candidates/48384b3'+'.json', headers=headers).json()
#requests.get(url+'candidates/48384b3/activities'+'.json', headers=headers).json()['activities']
#section = 'events?'
#events = requests.get(url+section+'.json', headers=headers).json()

#section = 'jobs/A8C5321F60/activities'
#j = requests.get(url+section+'.json', headers=headers).json()